<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_apv.dao.TApvApvtypeMapper">

    <resultMap type="com.hjy.cloud.t_apv.entity.TApvApvtype" id="TApvApvtypeMap">
        <result property="pkApvtypeId" column="PK_APVTYPE_ID" jdbcType="VARCHAR"/>
        <result property="apvtypeName" column="APVTYPE_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="turnOn" column="TURN_ON" jdbcType="INTEGER"/>
        <result property="operatePeople" column="OPERATE_PEOPLE" jdbcType="VARCHAR"/>
        <result property="processDesc" column="PROCESS_DESC" jdbcType="VARCHAR"/>
        <result property="fkGroupId" column="FK_GROUP_ID" jdbcType="VARCHAR"/>
        <result property="iconPath" column="ICON_PATH" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectByPkId" resultMap="TApvApvtypeMap">
        select * from hjy_cloud.T_APV_APVTYPE
        where PK_APVTYPE_ID = #{pkApvtypeId}
    </select>

    <!--No problem 分页时查询总记录条数-->
    <select id="selectSize" resultType="java.lang.Integer">
        select count(*) from hjy_cloud.T_APV_APVTYPE
        where 1 = 1
        <if test="pkApvtypeId != null and pkApvtypeId != ''">
            and PK_APVTYPE_ID = #{pkApvtypeId}
        </if>
        <if test="apvtypeName != null and apvtypeName != ''">
            and APVTYPE_NAME = #{apvtypeName}
        </if>
        <if test="createTime != null">
            and CREATE_TIME = #{createTime}
        </if>
        <if test="updateTime != null">
            and UPDATE_TIME = #{updateTime}
        </if>
        <if test="turnOn != null">
            and TURN_ON = #{turnOn}
        </if>
        <if test="operatePeople != null and operatePeople != ''">
            and OPERATE_PEOPLE = #{operatePeople}
        </if>
        <if test="processDesc != null and processDesc != ''">
            and PROCESS_DESC = #{processDesc}
        </if>
        <if test="fkGroupId != null and fkGroupId != ''">
            and FK_GROUP_ID = #{fkGroupId}
        </if>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectAllPage" resultMap="TApvApvtypeMap">
        select * from hjy_cloud.T_APV_APVTYPE
        <where>
            <if test="apvtypeName != null and apvtypeName != ''">
                and APVTYPE_NAME = #{apvtypeName}
            </if>
            <if test="turnOn != null">
                and TURN_ON = #{turnOn}
            </if>
            <if test="operatePeople != null and operatePeople != ''">
                and OPERATE_PEOPLE = #{operatePeople}
            </if>
            <if test="processDesc != null and processDesc != ''">
                and PROCESS_DESC = #{processDesc}
            </if>
            <if test="fkGroupId != null and fkGroupId != ''">
                and FK_GROUP_ID = #{fkGroupId}
            </if>
        </where>
    </select>
    <select id="selectAllId_Name" resultType="com.hjy.cloud.t_apv.entity.TApvApvtype">
        select PK_APVTYPE_ID,APVTYPE_NAME from T_APV_APVTYPE where TURN_ON = 1
    </select>
    <select id="selectByName" resultType="com.hjy.cloud.t_apv.entity.TApvApvtype">
        select * from T_APV_APVTYPE where APVTYPE_NAME = #{apvtypeName,jdbcType=VARCHAR} and TURN_ON = 1
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="pkApvtypeId" useGeneratedKeys="true">
        insert into hjy_cloud.T_APV_APVTYPE(APVTYPE_NAME, CREATE_TIME, UPDATE_TIME, TURN_ON, OPERATE_PEOPLE, PROCESS_DESC, FK_GROUP_ID)
        values (#{apvtypeName}, #{createTime}, #{updateTime}, #{turnOn}, #{operatePeople}, #{processDesc}, #{fkGroupId})
    </insert>
    <!--新增-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_apv.entity.TApvApvtype">
        insert into hjy_cloud.T_APV_APVTYPE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkApvtypeId != null and pkApvtypeId != ''">
                PK_APVTYPE_ID,
            </if>
            <if test="apvtypeName != null and apvtypeName != ''">
                APVTYPE_NAME,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="turnOn != null">
                TURN_ON,
            </if>
            <if test="operatePeople != null and operatePeople != ''">
                OPERATE_PEOPLE,
            </if>
            <if test="processDesc != null and processDesc != ''">
                PROCESS_DESC,
            </if>
            <if test="fkGroupId != null and fkGroupId != ''">
                FK_GROUP_ID,
            </if>
            <if test="iconPath != null and iconPath != ''">
                ICON_PATH,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkApvtypeId != null and pkApvtypeId != ''">
                #{pkApvtypeId},
            </if>
            <if test="apvtypeName != null and apvtypeName != ''">
                #{apvtypeName},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="turnOn != null">
                #{turnOn},
            </if>
            <if test="operatePeople != null and operatePeople != ''">
                #{operatePeople},
            </if>
            <if test="processDesc != null and processDesc != ''">
                #{processDesc},
            </if>
            <if test="fkGroupId != null and fkGroupId != ''">
                #{fkGroupId},
            </if>
            <if test="iconPath != null and iconPath != ''">
                #{iconPath},
            </if>
        </trim>
    </insert>
    <!--通过主键修改数据-->
    <update id="updateByPkId">
        update hjy_cloud.T_APV_APVTYPE
        <set>
            <if test="apvtypeName != null and apvtypeName != ''">
                APVTYPE_NAME = #{apvtypeName},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime},
            </if>
            <if test="turnOn != null">
                TURN_ON = #{turnOn},
            </if>
            <if test="operatePeople != null and operatePeople != ''">
                OPERATE_PEOPLE = #{operatePeople},
            </if>
            <if test="processDesc != null and processDesc != ''">
                PROCESS_DESC = #{processDesc},
            </if>
            <if test="fkGroupId != null and fkGroupId != ''">
                FK_GROUP_ID = #{fkGroupId},
            </if>
            <if test="iconPath != null and iconPath != ''">
                ICON_PATH = #{iconPath},
            </if>
        </set>
        where PK_APVTYPE_ID = #{pkApvtypeId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hjy_cloud.T_APV_APVTYPE where PK_APVTYPE_ID = #{pkApvtypeId}
    </delete>

</mapper>

