<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_index.dao.TIndexBwlMapper">

    <resultMap type="com.hjy.cloud.t_index.entity.TIndexBwl" id="TIndexBwlMap">
        <result property="pkBwlId" column="PK_BWL_ID" jdbcType="VARCHAR"/>
        <result property="bwlName" column="BWL_NAME" jdbcType="VARCHAR"/>
        <result property="bwlContent" column="BWL_CONTENT" jdbcType="VARCHAR"/>
        <result property="remindTime" column="REMIND_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectByPkId" resultMap="TIndexBwlMap">
        select * from T_INDEX_BWL
        where PK_BWL_ID = #{pkBwlId}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectAllPage" resultMap="TIndexBwlMap">
        select
        PK_BWL_ID, BWL_NAME, BWL_CONTENT, REMIND_TIME
        from T_INDEX_BWL
        where 1 = 1
            <if test="pkBwlId != null and pkBwlId != ''">
                and PK_BWL_ID = #{pkBwlId,jdbcType=VARCHAR}
            </if>
            <if test="bwlName != null and bwlName != ''">
                and BWL_NAME = #{bwlName,jdbcType=VARCHAR}
            </if>
            <if test="bwlContent != null and bwlContent != ''">
                and BWL_CONTENT = #{bwlContent,jdbcType=VARCHAR}
            </if>
            <if test="remindTime != null">
                and REMIND_TIME = #{remindTime,jdbcType=TIMESTAMP}
            </if>
            <if test="fkUserId != null and fkUserId != ''">
                and FK_USER_ID = #{fkUserId,jdbcType=VARCHAR}
            </if>
        order by REMIND_TIME DESC
    </select>
    <select id="selectAllEffective" resultType="com.hjy.cloud.t_index.entity.TIndexBwl">
        SELECT * FROM T_INDEX_BWL WHERE TO_DAYS(REMIND_TIME) = TO_DAYS(NOW()) AND IS_SEND = 0
    </select>
    <!--新增-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_index.entity.TIndexBwl">
        insert into T_INDEX_BWL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkBwlId != null and pkBwlId != ''">
                PK_BWL_ID,
            </if>
            <if test="bwlName != null and bwlName != ''">
                BWL_NAME,
            </if>
            <if test="bwlContent != null and bwlContent != ''">
                BWL_CONTENT,
            </if>
            <if test="remindTime != null">
                REMIND_TIME,
            </if>
            <if test="fkUserId != null and fkUserId != ''">
                FK_USER_ID,
            </if>
            <if test="isSend != null">
                IS_SEND,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkBwlId != null and pkBwlId != ''">
                #{pkBwlId,jdbcType=VARCHAR},
            </if>
            <if test="bwlName != null and bwlName != ''">
                #{bwlName,jdbcType=VARCHAR},
            </if>
            <if test="bwlContent != null and bwlContent != ''">
                #{bwlContent,jdbcType=VARCHAR},
            </if>
            <if test="remindTime != null">
                #{remindTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fkUserId != null and fkUserId != ''">
                #{fkUserId,jdbcType=VARCHAR},
            </if>
            <if test="isSend != null">
                #{isSend,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <!--通过主键修改数据-->
    <update id="updateByPkId">
        update T_INDEX_BWL
        <set>
            <if test="bwlName != null and bwlName != ''">
                BWL_NAME = #{bwlName,jdbcType=VARCHAR},
            </if>
            <if test="bwlContent != null and bwlContent != ''">
                BWL_CONTENT = #{bwlContent,jdbcType=VARCHAR},
            </if>
            <if test="remindTime != null">
                REMIND_TIME = #{remindTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isSend != null">
                IS_SEND = #{isSend,jdbcType=INTEGER},
            </if>
        </set>
        where PK_BWL_ID = #{pkBwlId,jdbcType=VARCHAR}
    </update>
    <update id="updateSendStatusBatch">
       update T_INDEX_BWL set IS_SEND = 1
       where PK_BWL_ID in(
        <foreach collection="bwls" item="item" index="index" separator=",">
            #{item.pkBwlId, jdbcType=VARCHAR}
        </foreach>
        )

    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from T_INDEX_BWL where PK_BWL_ID = #{pkBwlId,jdbcType=VARCHAR}
    </delete>

</mapper>

