<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_kq.dao.TKqBkMapper">

    <resultMap type="com.hjy.cloud.t_kq.entity.TKqBk" id="TKqBkMap">
        <result property="pkBkId" column="PK_BK_ID" jdbcType="VARCHAR"/>
        <result property="bkName" column="BK_NAME" jdbcType="VARCHAR"/>
        <result property="bkStewards" column="BK_STEWARDS" jdbcType="VARCHAR"/>
        <result property="bkNum" column="BK_NUM" jdbcType="INTEGER"/>
        <result property="bkDate" column="BK_DATE" jdbcType="INTEGER"/>
        <result property="turnOn" column="TURN_ON" jdbcType="INTEGER"/>
        <result property="isDefault" column="IS_DEFAULT" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectByPkId" resultType="com.hjy.cloud.t_kq.entity.TKqBk">
SELECT
	a.*,
	T_STAFF_INFO.STAFF_NAME AS stewardsName,
	group_concat( c.FK_GROUP_ID ) bkGroupId,
	group_concat( b.GROUP_NAME ) bkGroupName
FROM
	T_KQ_BK a
	LEFT JOIN T_STAFF_INFO ON T_STAFF_INFO.PK_STAFF_ID = a.BK_STEWARDS
	LEFT JOIN RE_BK_GROUP c ON a.PK_BK_ID = c.FK_BK_ID
	LEFT JOIN T_KQ_GROUP b ON b.PK_GROUP_ID = c.FK_GROUP_ID
WHERE
	a.PK_BK_ID = #{pkBkId}
GROUP BY
	a.PK_BK_ID
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectAllPage" resultType="com.hjy.cloud.t_kq.entity.TKqBk">
        SELECT
        a.*,
        T_STAFF_INFO.STAFF_NAME AS stewardsName,
        group_concat( c.FK_GROUP_ID ) bkGroupId,
        group_concat( b.GROUP_NAME ) bkGroupName
        FROM
        T_KQ_BK a
        LEFT JOIN T_STAFF_INFO ON T_STAFF_INFO.PK_STAFF_ID = a.BK_STEWARDS
        LEFT JOIN RE_BK_GROUP c ON a.PK_BK_ID = c.FK_BK_ID
        LEFT JOIN T_KQ_GROUP b ON b.PK_GROUP_ID = c.FK_GROUP_ID
        <where>
            <if test="pkBkId != null and pkBkId != ''">
                and a.PK_BK_ID = #{pkBkId,jdbcType=VARCHAR}
            </if>
            <if test="bkName != null and bkName != ''">
                and a.BK_NAME = #{bkName,jdbcType=VARCHAR}
            </if>
            <if test="bkStewards != null and bkStewards != ''">
                and a.BK_STEWARDS = #{bkStewards,jdbcType=VARCHAR}
            </if>
            <if test="bkNum != null">
                and a.BK_NUM = #{bkNum,jdbcType=INTEGER}
            </if>
            <if test="bkDate != null">
                and a.BK_DATE = #{bkDate,jdbcType=INTEGER}
            </if>
            <if test="turnOn != null">
                and a.TURN_ON = #{turnOn,jdbcType=INTEGER}
            </if>
            <if test="isDefault != null">
                and a.IS_DEFAULT = #{isDefault,jdbcType=INTEGER}
            </if>
        </where>
        GROUP BY
        a.PK_BK_ID
    </select>
    <select id="select_YX_BkGroupByBkId" resultType="com.hjy.cloud.t_kq.entity.TKqGroup">
        select RE_BK_GROUP.FK_GROUP_ID as pkGroupId from RE_BK_GROUP where FK_BK_ID = #{fkBkId,jdbcType=VARCHAR}
    </select>
    <!--新增-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_kq.entity.TKqBk">
        insert into hjy_cloud.T_KQ_BK
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkBkId != null and pkBkId != ''">
                PK_BK_ID,
            </if>
            <if test="bkName != null and bkName != ''">
                BK_NAME,
            </if>
            <if test="bkStewards != null and bkStewards != ''">
                BK_STEWARDS,
            </if>
            <if test="bkNum != null">
                BK_NUM,
            </if>
            <if test="bkDate != null">
                BK_DATE,
            </if>
            <if test="turnOn != null">
                TURN_ON,
            </if>
            <if test="isDefault != null">
                IS_DEFAULT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkBkId != null and pkBkId != ''">
                #{pkBkId,jdbcType=VARCHAR},
            </if>
            <if test="bkName != null and bkName != ''">
                #{bkName,jdbcType=VARCHAR},
            </if>
            <if test="bkStewards != null and bkStewards != ''">
                #{bkStewards,jdbcType=VARCHAR},
            </if>
            <if test="bkNum != null">
                #{bkNum,jdbcType=INTEGER},
            </if>
            <if test="bkDate != null">
                #{bkDate,jdbcType=INTEGER},
            </if>
            <if test="turnOn != null">
                #{turnOn,jdbcType=INTEGER},
            </if>
            <if test="isDefault != null">
                #{isDefault,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="insertBkGroupBatch">
        insert into RE_BK_GROUP
        (PK_BKGROUP_ID,FK_BK_ID,FK_GROUP_ID)
        values
        <foreach collection="bkGroupList" item="item" index="index" separator=",">
            (
            #{item.pkBkgroupId,jdbcType=VARCHAR},
            #{item.fkBkId,jdbcType=VARCHAR},
            #{item.fkGroupId,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <!--通过主键修改数据-->
    <update id="updateByPkId">
        update hjy_cloud.T_KQ_BK
        <set>
            <if test="bkName != null and bkName != ''">
                BK_NAME = #{bkName,jdbcType=VARCHAR},
            </if>
            <if test="bkStewards != null and bkStewards != ''">
                BK_STEWARDS = #{bkStewards,jdbcType=VARCHAR},
            </if>
            <if test="bkNum != null">
                BK_NUM = #{bkNum,jdbcType=INTEGER},
            </if>
            <if test="bkDate != null">
                BK_DATE = #{bkDate,jdbcType=INTEGER},
            </if>
            <if test="turnOn != null">
                TURN_ON = #{turnOn,jdbcType=INTEGER},
            </if>
            <if test="isDefault != null">
                IS_DEFAULT = #{isDefault,jdbcType=INTEGER},
            </if>
        </set>
        where PK_BK_ID = #{pkBkId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hjy_cloud.T_KQ_BK where PK_BK_ID = #{pkBkId,jdbcType=VARCHAR} and IS_DEFAULT !=1
    </delete>
    <delete id="deleteBkGroupByBkId">
        delete from hjy_cloud.RE_BK_GROUP where FK_BK_ID = #{fkBkId,jdbcType=VARCHAR}
    </delete>

</mapper>

