<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_kq.dao.TKqClockMapper">

    <resultMap type="com.hjy.cloud.t_kq.entity.TKqClock" id="TKqClockMap">
        <result property="pkClockId" column="PK_CLOCK_ID" jdbcType="VARCHAR"/>
        <result property="fkStaffId" column="FK_STAFF_ID" jdbcType="VARCHAR"/>
        <result property="staffName" column="STAFF_NAME" jdbcType="VARCHAR"/>
        <result property="jobId" column="JOB_ID" jdbcType="VARCHAR"/>
        <result property="todayDate" column="TODAY_DATE" jdbcType="DATE"/>
        <result property="onDutyTime" column="ON_DUTY_TIME" jdbcType="TIMESTAMP"/>
        <result property="onClockAddress" column="ON_CLOCK_ADDRESS" jdbcType="VARCHAR"/>
        <result property="onClockIp" column="ON_CLOCK_IP" jdbcType="VARCHAR"/>
        <result property="onIsWq" column="ON_IS_WQ" jdbcType="VARCHAR"/>
        <result property="offDutyTime" column="OFF_DUTY_TIME" jdbcType="TIMESTAMP"/>
        <result property="offClockAddress" column="OFF_CLOCK_ADDRESS" jdbcType="VARCHAR"/>
        <result property="offClockIp" column="OFF_CLOCK_IP" jdbcType="VARCHAR"/>
        <result property="offIsWq" column="OFF_IS_WQ" jdbcType="VARCHAR"/>
        <result property="workingHours" column="WORKING_HOURS" jdbcType="REAL"/>
        <result property="isCd" column="IS_CD" jdbcType="INTEGER"/>
        <result property="cdMinute" column="CD_MINUTE" jdbcType="INTEGER"/>
        <result property="cdDesc" column="CD_DESC" jdbcType="VARCHAR"/>
        <result property="isZt" column="IS_ZT" jdbcType="INTEGER"/>
        <result property="ztMinute" column="ZT_MINUTE" jdbcType="INTEGER"/>
        <result property="ztDesc" column="ZT_DESC" jdbcType="VARCHAR"/>
        <result property="isJb" column="IS_JB" jdbcType="INTEGER"/>
        <result property="jbMinute" column="JB_MINUTE" jdbcType="INTEGER"/>
        <result property="jbDesc" column="JB_DESC" jdbcType="VARCHAR"/>
        <result property="isDkr" column="IS_DKR" jdbcType="INTEGER"/>
        <result property="fkDeptId" column="FK_DEPT_ID" jdbcType="VARCHAR"/>
        <result property="deptName" column="DEPT_NAME" jdbcType="VARCHAR"/>
        <result property="fkGroupId" column="FK_GROUP_ID" jdbcType="VARCHAR"/>
        <result property="groupName" column="GROUP_NAME" jdbcType="VARCHAR"/>
        <result property="fkPositionId" column="FK_POSITION_ID" jdbcType="VARCHAR"/>
        <result property="positionName" column="POSITION_NAME" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectByPkId" resultMap="TKqClockMap">
        select * from hjy_cloud.T_KQ_CLOCK
        where PK_CLOCK_ID = #{pkClockId}
    </select>
    <select id="selectGroupStaffByStaffId" resultType="com.hjy.cloud.t_kq.entity.ReGroupStaff">
        select * from RE_GROUP_STAFF where RE_GROUP_STAFF.FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR}
    </select>
    <!--通过分组id查询工作地信息-->
    <select id="selectWorkAddressByGroupId" resultType="com.hjy.cloud.t_outfit.entity.TOutfitWorkaddress">
SELECT
	T_OUTFIT_WORKADDRESS.*
FROM
	T_OUTFIT_WORKADDRESS
WHERE
	T_OUTFIT_WORKADDRESS.PK_WORKADRESS_ID IN
	( SELECT RE_GROUP_WORKADDRESS.FK_WORKADDRESS_ID
	FROM RE_GROUP_WORKADDRESS WHERE RE_GROUP_WORKADDRESS.FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR})
    </select>
    <select id="selectGroupWorkingDaysByEntity" resultType="com.hjy.cloud.t_kq.entity.ReGroupWorkingdays">
        SELECT * FROM RE_GROUP_WORKINGDAYS WHERE 1=1
        <if test="fkGroupId != null and fkGroupId != ''">
            and FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR}
        </if>
        <if test="workingDays != null and workingDays != ''">
            and WORKING_DAYS = #{workingDays,jdbcType=VARCHAR}
        </if>
        <if test="fkBcId != null and fkBcId != ''">
            and FK_BC_ID = #{fkBcId,jdbcType=VARCHAR}
        </if>
        <if test="kqType != null">
            and KQ_TYPE = #{kqType,jdbcType=INTEGER}
        </if>
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="selectAllPage" resultMap="TKqClockMap">
        select * from hjy_cloud.T_KQ_CLOCK
        <where>
            <if test="pkClockId != null and pkClockId != ''">
                and PK_CLOCK_ID = #{pkClockId,jdbcType=VARCHAR}
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                and FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR}
            </if>
            <if test="staffName != null and staffName != ''">
                and STAFF_NAME like '%${staffName}%'
            </if>
            <if test="jobId != null and jobId != ''">
                and JOB_ID = #{jobId,jdbcType=VARCHAR}
            </if>
            <if test="todayDate != null">
                and TODAY_DATE = #{todayDate,jdbcType=DATE}
            </if>
            <if test="onDutyTime != null">
                and ON_DUTY_TIME = #{onDutyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="onClockAddress != null and onClockAddress != ''">
                and ON_CLOCK_ADDRESS = #{onClockAddress,jdbcType=VARCHAR}
            </if>
            <if test="onClockIp != null and onClockIp != ''">
                and ON_CLOCK_IP = #{onClockIp,jdbcType=VARCHAR}
            </if>
            <if test="onIsWq != null and onIsWq != ''">
                and ON_IS_WQ = #{onIsWq,jdbcType=INTEGER}
            </if>
            <if test="offDutyTime != null">
                and OFF_DUTY_TIME = #{offDutyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="offClockAddress != null and offClockAddress != ''">
                and OFF_CLOCK_ADDRESS = #{offClockAddress,jdbcType=VARCHAR}
            </if>
            <if test="offClockIp != null and offClockIp != ''">
                and OFF_CLOCK_IP = #{offClockIp,jdbcType=VARCHAR}
            </if>
            <if test="offIsWq != null and offIsWq != ''">
                and OFF_IS_WQ = #{offIsWq,jdbcType=INTEGER}
            </if>
            <if test="isCd != null">
                and IS_CD = #{isCd,jdbcType=INTEGER}
            </if>
            <if test="cdMinute != null and cdMinute != ''">
                and CD_MINUTE = #{cdMinute,jdbcType=VARCHAR}
            </if>
            <if test="isZt != null">
                and IS_ZT = #{isZt,jdbcType=INTEGER}
            </if>
            <if test="ztMinute != null and ztMinute != ''">
                and ZT_MINUTE = #{ztMinute,jdbcType=VARCHAR}
            </if>
            <if test="isDkr != null">
                and IS_DKR = #{isDkr,jdbcType=INTEGER}
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                and FK_DEPT_ID = #{fkDeptId,jdbcType=VARCHAR}
            </if>
            <if test="deptName != null and deptName != ''">
                and DEPT_NAME like '%${deptName}%'
            </if>
            <if test="fkGroupId != null and fkGroupId != ''">
                and FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR}
            </if>
            <if test="groupName != null and groupName != ''">
                and GROUP_NAME like '%${groupName}%'
            </if>
            <if test="fkPositionId != null and fkPositionId != ''">
                and FK_POSITION_ID = #{fkPositionId,jdbcType=VARCHAR}
            </if>
            <if test="positionName != null and positionName != ''">
                and POSITION_NAME = #{positionName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectAllByMonth" resultType="com.hjy.cloud.t_kq.entity.TKqClock" parameterType="com.hjy.cloud.t_kq.entity.ParamStatistics">
        SELECT
	t.FK_STAFF_ID,
	t.STAFF_NAME,
	t.JOB_ID,
	t.TODAY_DATE,
	t.FK_DEPT_ID,
	t.DEPT_NAME,
	t.FK_GROUP_ID,
	t.GROUP_NAME,
	t.FK_POSITION_ID,
	t.POSITION_NAME,
	t.WORKING_HOURS,
	t.IS_CD,
	t.CD_MINUTE,
	t.IS_ZT,
	t.ZT_MINUTE,
	t.IS_JB,
	t.JB_MINUTE,
	t.ON_IS_WQ,
	t.OFF_IS_WQ
FROM
	hjy_cloud.T_KQ_CLOCK t
        where t.FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR}
        and DATE_FORMAT(t.ON_DUTY_TIME,'%Y-%m') = #{monthDate,jdbcType=VARCHAR}
        <if test="isWorkingHours != null and isWorkingHours != ''">
            and t.WORKING_HOURS != ''
        </if>
    </select>
    <select id="statisticsUser2" resultType="com.hjy.cloud.t_kq.entity.TKqClock" parameterType="com.hjy.cloud.t_kq.entity.ParamStatistics">
                SELECT
	t.FK_STAFF_ID,
	t.STAFF_NAME,
	t.JOB_ID,
	t.FK_DEPT_ID,
	t.DEPT_NAME,
	t.FK_GROUP_ID,
	t.GROUP_NAME,
	t.FK_POSITION_ID,
	t.POSITION_NAME,
	t.WORKING_HOURS,
	t.IS_CD,
	t.CD_MINUTE,
	t.IS_ZT,
	t.ZT_MINUTE,
	t.IS_JB,
	t.JB_MINUTE,
	t.ON_IS_WQ,
	t.OFF_IS_WQ
FROM
	hjy_cloud.T_KQ_CLOCK t
        where t.FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR}
        and t.WORKING_HOURS != '' and t.TODAY_DATE >= #{startDate,jdbcType=VARCHAR} and t.TODAY_DATE <![CDATA[<=]]> #{endDate,jdbcType=VARCHAR}
    </select>
    <select id="selectOnDayByTodayDate" resultType="com.hjy.cloud.t_kq.entity.TKqClock" parameterType="com.hjy.cloud.t_kq.entity.ParamStatistics">
        select * from T_KQ_CLOCK
        where T_KQ_CLOCK.FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR}
        and T_KQ_CLOCK.TODAY_DATE = #{todayDate,jdbcType=VARCHAR}
    </select>
    <!--新增-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_kq.entity.TKqClock">
        insert into hjy_cloud.T_KQ_CLOCK
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkClockId != null and pkClockId != ''">
                PK_CLOCK_ID,
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                FK_STAFF_ID,
            </if>
            <if test="staffName != null and staffName != ''">
                STAFF_NAME,
            </if>
            <if test="jobId != null and jobId != ''">
                JOB_ID,
            </if>
            <if test="todayDate != null">
                TODAY_DATE,
            </if>
            <if test="onDutyTime != null">
                ON_DUTY_TIME,
            </if>
            <if test="onClockAddress != null and onClockAddress != ''">
                ON_CLOCK_ADDRESS,
            </if>
            <if test="onClockIp != null and onClockIp != ''">
                ON_CLOCK_IP,
            </if>
            <if test="onIsWq != null">
                ON_IS_WQ,
            </if>
            <if test="isCd != null">
                IS_CD,
            </if>
            <if test="cdMinute != null and cdMinute != ''">
                CD_MINUTE,
            </if>
            <if test="cdDesc != null and cdDesc != ''">
                CD_DESC,
            </if>
            <if test="isDkr != null">
                IS_DKR,
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                FK_DEPT_ID,
            </if>
            <if test="deptName != null and deptName != ''">
                DEPT_NAME,
            </if>
            <if test="fkGroupId != null and fkGroupId != ''">
                FK_GROUP_ID,
            </if>
            <if test="groupName != null and groupName != ''">
                GROUP_NAME,
            </if>
            <if test="fkPositionId != null and fkPositionId != ''">
                FK_POSITION_ID,
            </if>
            <if test="positionName != null and positionName != ''">
                POSITION_NAME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkClockId != null and pkClockId != ''">
                #{pkClockId,jdbcType=VARCHAR},
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                #{fkStaffId,jdbcType=VARCHAR},
            </if>
            <if test="staffName != null and staffName != ''">
                #{staffName,jdbcType=VARCHAR},
            </if>
            <if test="jobId != null and jobId != ''">
                #{jobId,jdbcType=VARCHAR},
            </if>
            <if test="todayDate != null">
                #{todayDate,jdbcType=DATE},
            </if>
            <if test="onDutyTime != null">
                #{onDutyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="onClockAddress != null and onClockAddress != ''">
                #{onClockAddress,jdbcType=VARCHAR},
            </if>
            <if test="onClockIp != null and onClockIp != ''">
                #{onClockIp,jdbcType=VARCHAR},
            </if>
            <if test="onIsWq != null">
                #{onIsWq,jdbcType=INTEGER},
            </if>
            <if test="isCd != null">
                #{isCd,jdbcType=INTEGER},
            </if>
            <if test="cdMinute != null and cdMinute != ''">
                #{cdMinute,jdbcType=VARCHAR},
            </if>
            <if test="cdDesc != null and cdDesc != ''">
                #{cdDesc,jdbcType=VARCHAR},
            </if>
            <if test="isDkr != null">
                #{isDkr,jdbcType=INTEGER},
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                #{fkDeptId,jdbcType=VARCHAR},
            </if>
            <if test="deptName != null and deptName != ''">
                #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="fkGroupId != null and fkGroupId != ''">
                #{fkGroupId,jdbcType=VARCHAR},
            </if>
            <if test="groupName != null and groupName != ''">
                #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="fkPositionId != null and fkPositionId != ''">
                #{fkPositionId,jdbcType=VARCHAR},
            </if>
            <if test="positionName != null and positionName != ''">
                #{positionName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!--通过主键修改数据-->
    <update id="updateByPkId">
        update hjy_cloud.T_KQ_CLOCK
        <set>
            <if test="onDutyTime != null">
                ON_DUTY_TIME = #{onDutyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="onClockAddress != null and onClockAddress != ''">
                ON_CLOCK_ADDRESS = #{onClockAddress,jdbcType=VARCHAR},
            </if>
            <if test="onClockIp != null and onClockIp != ''">
                ON_CLOCK_IP = #{onClockIp,jdbcType=VARCHAR},
            </if>
            <if test="onIsWq != null and onIsWq != ''">
                ON_IS_WQ = #{onIsWq,jdbcType=VARCHAR},
            </if>
            <if test="offDutyTime != null">
                OFF_DUTY_TIME = #{offDutyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="offClockAddress != null and offClockAddress != ''">
                OFF_CLOCK_ADDRESS = #{offClockAddress,jdbcType=VARCHAR},
            </if>
            <if test="offClockIp != null and offClockIp != ''">
                OFF_CLOCK_IP = #{offClockIp,jdbcType=VARCHAR},
            </if>
            <if test="offIsWq != null">
                OFF_IS_WQ = #{offIsWq,jdbcType=INTEGER},
            </if>
            <if test="workingHours != null">
                WORKING_HOURS = #{workingHours,jdbcType=REAL},
            </if>
            <if test="isCd != null">
                IS_CD = #{isCd,jdbcType=INTEGER},
            </if>
            <if test="cdMinute != null and cdMinute != ''">
                CD_MINUTE = #{cdMinute,jdbcType=VARCHAR},
            </if>
            <if test="isZt != null">
                IS_ZT = #{isZt,jdbcType=INTEGER},
            </if>
            <if test="ztMinute != null and ztMinute != ''">
                ZT_MINUTE = #{ztMinute,jdbcType=VARCHAR},
            </if>
            <if test="ztDesc != null and ztDesc != ''">
                ZT_DESC = #{ztDesc,jdbcType=VARCHAR},
            </if>
            <if test="isJb != null">
                IS_JB = #{isJb,jdbcType=INTEGER},
            </if>
            <if test="jbMinute != null">
                JB_MINUTE = #{jbMinute,jdbcType=INTEGER},
            </if>
            <if test="jbDesc != null and jbDesc != ''">
                JB_DESC = #{jbDesc,jdbcType=VARCHAR},
            </if>
            <if test="isDkr != null">
                IS_DKR = #{isDkr,jdbcType=INTEGER},
            </if>
        </set>
        where PK_CLOCK_ID = #{pkClockId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hjy_cloud.T_KQ_CLOCK where PK_CLOCK_ID = #{pkClockId,jdbcType=VARCHAR}
    </delete>

</mapper>

