<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_kq.dao.TKqClockMapper">

    <resultMap type="com.hjy.cloud.t_kq.entity.TKqClock" id="TKqClockMap">
        <result property="pkClockId" column="PK_CLOCK_ID" jdbcType="VARCHAR"/>
        <result property="fkStaffId" column="FK_STAFF_ID" jdbcType="VARCHAR"/>
        <result property="jobId" column="JOB_ID" jdbcType="VARCHAR"/>
        <result property="todayDate" column="TODAY_DATE" jdbcType="DATE"/>
        <result property="onDutyTime" column="ON_DUTY_TIME" jdbcType="TIMESTAMP"/>
        <result property="onCloudAddress" column="ON_CLOUD_ADDRESS" jdbcType="VARCHAR"/>
        <result property="onCloudIp" column="ON_CLOUD_IP" jdbcType="VARCHAR"/>
        <result property="onIsWq" column="ON_IS_WQ" jdbcType="VARCHAR"/>
        <result property="offDutyTime" column="OFF_DUTY_TIME" jdbcType="TIMESTAMP"/>
        <result property="offCloudAddress" column="OFF_CLOUD_ADDRESS" jdbcType="VARCHAR"/>
        <result property="offCloudIp" column="OFF_CLOUD_IP" jdbcType="VARCHAR"/>
        <result property="offIsWq" column="OFF_IS_WQ" jdbcType="VARCHAR"/>
        <result property="workingHours" column="WORKING_HOURS" jdbcType="OTHER"/>
        <result property="isCd" column="IS_CD" jdbcType="INTEGER"/>
        <result property="cdMinute" column="CD_MINUTE" jdbcType="VARCHAR"/>
        <result property="isZt" column="IS_ZT" jdbcType="INTEGER"/>
        <result property="ztMinute" column="ZT_MINUTE" jdbcType="VARCHAR"/>
        <result property="isDkr" column="IS_DKR" jdbcType="INTEGER"/>
        <result property="fkDeptId" column="FK_DEPT_ID" jdbcType="VARCHAR"/>
        <result property="fkGroupId" column="FK_GROUP_ID" jdbcType="VARCHAR"/>
        <result property="fkPositionId" column="FK_POSITION_ID" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectByPkId" resultMap="TKqClockMap">
        select * from hjy_cloud.T_KQ_CLOCK
        where PK_CLOCK_ID = #{pkClockId}
    </select>
    <select id="selectGroupStaffByStaffId" resultType="com.hjy.cloud.t_kq.entity.ReGroupStaff">
        select * from RE_GROUP_STAFF where RE_GROUP_STAFF.FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR}
    </select>
    <!--通过分组id查询工作地信息-->
    <select id="selectWorkAddressByGroupId" resultType="com.hjy.cloud.t_outfit.entity.TOutfitWorkaddress">
SELECT
	T_OUTFIT_WORKADDRESS.*
FROM
	T_OUTFIT_WORKADDRESS
WHERE
	T_OUTFIT_WORKADDRESS.PK_WORKADRESS_ID IN
	( SELECT RE_GROUP_WORKADDRESS.FK_WORKADDRESS_ID
	FROM RE_GROUP_WORKADDRESS WHERE RE_GROUP_WORKADDRESS.FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR})
    </select>
    <select id="selectGroupWorkingDaysByEntity" resultType="com.hjy.cloud.t_kq.entity.ReGroupWorkingdays">
        SELECT * FROM RE_GROUP_WORKINGDAYS WHERE 1=1
        <if test="fkGroupId != null and fkGroupId != ''">
            and FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR}
        </if>
        <if test="workingDays != null and workingDays != ''">
            and WORKING_DAYS = #{workingDays,jdbcType=VARCHAR}
        </if>
        <if test="fkBcId != null and fkBcId != ''">
            and FK_BC_ID = #{fkBcId,jdbcType=VARCHAR}
        </if>
        <if test="kqType != null">
            and KQ_TYPE = #{kqType,jdbcType=INTEGER}
        </if>
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="selectAllPage" resultMap="TKqClockMap">
        select
        PK_CLOCK_ID, FK_STAFF_ID, JOB_ID, TODAY_DATE, ON_DUTY_TIME, ON_CLOUD_ADDRESS, ON_CLOUD_IP, ON_IS_WQ,
        OFF_DUTY_TIME, OFF_CLOUD_ADDRESS, OFF_CLOUD_IP, OFF_IS_WQ, WORKING_HOURS, IS_CD, CD_MINUTE, IS_ZT, ZT_MINUTE,
        IS_DKR, FK_DEPT_ID, FK_GROUP_ID, FK_POSITION_ID
        from hjy_cloud.T_KQ_CLOCK
        <where>
            <if test="pkClockId != null and pkClockId != ''">
                and PK_CLOCK_ID = #{pkClockId,jdbcType=VARCHAR}
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                and FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR}
            </if>
            <if test="jobId != null and jobId != ''">
                and JOB_ID = #{jobId,jdbcType=VARCHAR}
            </if>
            <if test="todayDate != null">
                and TODAY_DATE = #{todayDate,jdbcType=DATE}
            </if>
            <if test="onDutyTime != null">
                and ON_DUTY_TIME = #{onDutyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="onCloudAddress != null and onCloudAddress != ''">
                and ON_CLOUD_ADDRESS = #{onCloudAddress,jdbcType=VARCHAR}
            </if>
            <if test="onCloudIp != null and onCloudIp != ''">
                and ON_CLOUD_IP = #{onCloudIp,jdbcType=VARCHAR}
            </if>
            <if test="onIsWq != null and onIsWq != ''">
                and ON_IS_WQ = #{onIsWq,jdbcType=VARCHAR}
            </if>
            <if test="offDutyTime != null">
                and OFF_DUTY_TIME = #{offDutyTime,jdbcType=TIMESTAMP}
            </if>
            <if test="offCloudAddress != null and offCloudAddress != ''">
                and OFF_CLOUD_ADDRESS = #{offCloudAddress,jdbcType=VARCHAR}
            </if>
            <if test="offCloudIp != null and offCloudIp != ''">
                and OFF_CLOUD_IP = #{offCloudIp,jdbcType=VARCHAR}
            </if>
            <if test="offIsWq != null and offIsWq != ''">
                and OFF_IS_WQ = #{offIsWq,jdbcType=VARCHAR}
            </if>
            <if test="isCd != null">
                and IS_CD = #{isCd,jdbcType=INTEGER}
            </if>
            <if test="cdMinute != null and cdMinute != ''">
                and CD_MINUTE = #{cdMinute,jdbcType=VARCHAR}
            </if>
            <if test="isZt != null">
                and IS_ZT = #{isZt,jdbcType=INTEGER}
            </if>
            <if test="ztMinute != null and ztMinute != ''">
                and ZT_MINUTE = #{ztMinute,jdbcType=VARCHAR}
            </if>
            <if test="isDkr != null">
                and IS_DKR = #{isDkr,jdbcType=INTEGER}
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                and FK_DEPT_ID = #{fkDeptId,jdbcType=VARCHAR}
            </if>
            <if test="fkGroupId != null and fkGroupId != ''">
                and FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR}
            </if>
            <if test="fkPositionId != null and fkPositionId != ''">
                and FK_POSITION_ID = #{fkPositionId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <!--新增-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_kq.entity.TKqClock">
        insert into hjy_cloud.T_KQ_CLOCK
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkClockId != null and pkClockId != ''">
                PK_CLOCK_ID,
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                FK_STAFF_ID,
            </if>
            <if test="jobId != null and jobId != ''">
                JOB_ID,
            </if>
            <if test="todayDate != null">
                TODAY_DATE,
            </if>
            <if test="onDutyTime != null">
                ON_DUTY_TIME,
            </if>
            <if test="onCloudAddress != null and onCloudAddress != ''">
                ON_CLOUD_ADDRESS,
            </if>
            <if test="onCloudIp != null and onCloudIp != ''">
                ON_CLOUD_IP,
            </if>
            <if test="onIsWq != null and onIsWq != ''">
                ON_IS_WQ,
            </if>
            <if test="offDutyTime != null">
                OFF_DUTY_TIME,
            </if>
            <if test="offCloudAddress != null and offCloudAddress != ''">
                OFF_CLOUD_ADDRESS,
            </if>
            <if test="offCloudIp != null and offCloudIp != ''">
                OFF_CLOUD_IP,
            </if>
            <if test="offIsWq != null and offIsWq != ''">
                OFF_IS_WQ,
            </if>
            <if test="workingHours != null">
                WORKING_HOURS,
            </if>
            <if test="isCd != null">
                IS_CD,
            </if>
            <if test="cdMinute != null and cdMinute != ''">
                CD_MINUTE,
            </if>
            <if test="isZt != null">
                IS_ZT,
            </if>
            <if test="ztMinute != null and ztMinute != ''">
                ZT_MINUTE,
            </if>
            <if test="isDkr != null">
                IS_DKR,
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                FK_DEPT_ID,
            </if>
            <if test="fkGroupId != null and fkGroupId != ''">
                FK_GROUP_ID,
            </if>
            <if test="fkPositionId != null and fkPositionId != ''">
                FK_POSITION_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkClockId != null and pkClockId != ''">
                #{pkClockId,jdbcType=VARCHAR},
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                #{fkStaffId,jdbcType=VARCHAR},
            </if>
            <if test="jobId != null and jobId != ''">
                #{jobId,jdbcType=VARCHAR},
            </if>
            <if test="todayDate != null">
                #{todayDate,jdbcType=DATE},
            </if>
            <if test="onDutyTime != null">
                #{onDutyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="onCloudAddress != null and onCloudAddress != ''">
                #{onCloudAddress,jdbcType=VARCHAR},
            </if>
            <if test="onCloudIp != null and onCloudIp != ''">
                #{onCloudIp,jdbcType=VARCHAR},
            </if>
            <if test="onIsWq != null and onIsWq != ''">
                #{onIsWq,jdbcType=VARCHAR},
            </if>
            <if test="offDutyTime != null">
                #{offDutyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="offCloudAddress != null and offCloudAddress != ''">
                #{offCloudAddress,jdbcType=VARCHAR},
            </if>
            <if test="offCloudIp != null and offCloudIp != ''">
                #{offCloudIp,jdbcType=VARCHAR},
            </if>
            <if test="offIsWq != null and offIsWq != ''">
                #{offIsWq,jdbcType=VARCHAR},
            </if>
            <if test="workingHours != null">
                #{workingHours,jdbcType=OTHER},
            </if>
            <if test="isCd != null">
                #{isCd,jdbcType=INTEGER},
            </if>
            <if test="cdMinute != null and cdMinute != ''">
                #{cdMinute,jdbcType=VARCHAR},
            </if>
            <if test="isZt != null">
                #{isZt,jdbcType=INTEGER},
            </if>
            <if test="ztMinute != null and ztMinute != ''">
                #{ztMinute,jdbcType=VARCHAR},
            </if>
            <if test="isDkr != null">
                #{isDkr,jdbcType=INTEGER},
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                #{fkDeptId,jdbcType=VARCHAR},
            </if>
            <if test="fkGroupId != null and fkGroupId != ''">
                #{fkGroupId,jdbcType=VARCHAR},
            </if>
            <if test="fkPositionId != null and fkPositionId != ''">
                #{fkPositionId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!--通过主键修改数据-->
    <update id="updateByPkId">
        update hjy_cloud.T_KQ_CLOCK
        <set>
            <if test="fkStaffId != null and fkStaffId != ''">
                FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR},
            </if>
            <if test="jobId != null and jobId != ''">
                JOB_ID = #{jobId,jdbcType=VARCHAR},
            </if>
            <if test="todayDate != null">
                TODAY_DATE = #{todayDate,jdbcType=DATE},
            </if>
            <if test="onDutyTime != null">
                ON_DUTY_TIME = #{onDutyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="onCloudAddress != null and onCloudAddress != ''">
                ON_CLOUD_ADDRESS = #{onCloudAddress,jdbcType=VARCHAR},
            </if>
            <if test="onCloudIp != null and onCloudIp != ''">
                ON_CLOUD_IP = #{onCloudIp,jdbcType=VARCHAR},
            </if>
            <if test="onIsWq != null and onIsWq != ''">
                ON_IS_WQ = #{onIsWq,jdbcType=VARCHAR},
            </if>
            <if test="offDutyTime != null">
                OFF_DUTY_TIME = #{offDutyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="offCloudAddress != null and offCloudAddress != ''">
                OFF_CLOUD_ADDRESS = #{offCloudAddress,jdbcType=VARCHAR},
            </if>
            <if test="offCloudIp != null and offCloudIp != ''">
                OFF_CLOUD_IP = #{offCloudIp,jdbcType=VARCHAR},
            </if>
            <if test="offIsWq != null and offIsWq != ''">
                OFF_IS_WQ = #{offIsWq,jdbcType=VARCHAR},
            </if>
            <if test="workingHours != null">
                WORKING_HOURS = #{workingHours,jdbcType=OTHER},
            </if>
            <if test="isCd != null">
                IS_CD = #{isCd,jdbcType=INTEGER},
            </if>
            <if test="cdMinute != null and cdMinute != ''">
                CD_MINUTE = #{cdMinute,jdbcType=VARCHAR},
            </if>
            <if test="isZt != null">
                IS_ZT = #{isZt,jdbcType=INTEGER},
            </if>
            <if test="ztMinute != null and ztMinute != ''">
                ZT_MINUTE = #{ztMinute,jdbcType=VARCHAR},
            </if>
            <if test="isDkr != null">
                IS_DKR = #{isDkr,jdbcType=INTEGER},
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                FK_DEPT_ID = #{fkDeptId,jdbcType=VARCHAR},
            </if>
            <if test="fkGroupId != null and fkGroupId != ''">
                FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR},
            </if>
            <if test="fkPositionId != null and fkPositionId != ''">
                FK_POSITION_ID = #{fkPositionId,jdbcType=VARCHAR},
            </if>
        </set>
        where PK_CLOCK_ID = #{pkClockId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hjy_cloud.T_KQ_CLOCK where PK_CLOCK_ID = #{pkClockId,jdbcType=VARCHAR}
    </delete>

</mapper>

