<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_kq.dao.TKqGroupMapper">

    <resultMap type="com.hjy.cloud.t_kq.entity.TKqGroup" id="TKqGroupMap">
        <result property="pkGroupId" column="PK_GROUP_ID" jdbcType="VARCHAR"/>
        <result property="groupName" column="GROUP_NAME" jdbcType="VARCHAR"/>
        <result property="autoJoin" column="AUTO_JOIN" jdbcType="INTEGER"/>
        <result property="kqAddress" column="KQ_ADDRESS" jdbcType="VARCHAR"/>
        <result property="kqRange" column="KQ_RANGE" jdbcType="INTEGER"/>
        <result property="groupStewards" column="GROUP_STEWARDS" jdbcType="VARCHAR"/>
        <result property="kqType" column="KQ_TYPE" jdbcType="INTEGER"/>
        <result property="typeSet" column="TYPE_SET" jdbcType="INTEGER"/>
        <result property="isPaixiu" column="IS_PAIXIU" jdbcType="INTEGER"/>
        <result property="bxdkTime" column="BXDK_TIME" jdbcType="DATE"/>
        <result property="wxdkTime" column="WXDK_TIME" jdbcType="DATE"/>
        <result property="kqWay" column="KQ_WAY" jdbcType="INTEGER"/>
        <result property="isWq" column="IS_WQ" jdbcType="INTEGER"/>
        <result property="turnOn" column="TURN_ON" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectByPkId" resultType="com.hjy.cloud.t_kq.entity.TKqGroup">
SELECT
	T_KQ_GROUP.*,
	T_STAFF_INFO.STAFF_NAME AS stewardsName
FROM
	hjy_cloud.T_KQ_GROUP
	LEFT JOIN T_STAFF_INFO ON T_STAFF_INFO.PK_STAFF_ID = T_KQ_GROUP.GROUP_STEWARDS
WHERE
	T_KQ_GROUP.PK_GROUP_ID = #{pkGroupId}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectAllPage" resultType="com.hjy.cloud.t_kq.entity.TKqGroup">
        SELECT
        T_KQ_GROUP.*,
        T_STAFF_INFO.STAFF_NAME AS stewardsName
        FROM
        hjy_cloud.T_KQ_GROUP
        LEFT JOIN T_STAFF_INFO ON T_STAFF_INFO.PK_STAFF_ID = T_KQ_GROUP.GROUP_STEWARDS
        <where>
            <if test="pkGroupId != null and pkGroupId != ''">
                and PK_GROUP_ID = #{pkGroupId,jdbcType=VARCHAR}
            </if>
            <if test="groupName != null and groupName != ''">
                and GROUP_NAME = #{groupName,jdbcType=VARCHAR}
            </if>
            <if test="kqAddress != null and kqAddress != ''">
                and KQ_ADDRESS = #{kqAddress,jdbcType=VARCHAR}
            </if>
            <if test="kqRange != null">
                and KQ_RANGE = #{kqRange,jdbcType=INTEGER}
            </if>
            <if test="groupStewards != null and groupStewards != ''">
                and GROUP_STEWARDS = #{groupStewards,jdbcType=VARCHAR}
            </if>
            <if test="kqType != null">
                and KQ_TYPE = #{kqType,jdbcType=INTEGER}
            </if>
            <if test="typeSet != null">
                and TYPE_SET = #{typeSet,jdbcType=INTEGER}
            </if>
            <if test="isPaixiu != null">
                and IS_PAIXIU = #{isPaixiu,jdbcType=INTEGER}
            </if>
            <if test="bxdkTime != null">
                and BXDK_TIME = #{bxdkTime,jdbcType=DATE}
            </if>
            <if test="wxdkTime != null">
                and WXDK_TIME = #{wxdkTime,jdbcType=DATE}
            </if>
            <if test="kqWay != null">
                and KQ_WAY = #{kqWay,jdbcType=INTEGER}
            </if>
            <if test="isWq != null">
                and IS_WQ = #{isWq,jdbcType=INTEGER}
            </if>
            <if test="turnOn != null">
                and TURN_ON = #{turnOn,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <select id="select_YX_StaffByGroup_IsKQ" resultType="com.hjy.cloud.t_kq.entity.ReGroupStaff">
SELECT
	RE_GROUP_STAFF.FK_STAFF_ID,
	T_STAFF_INFO.STAFF_NAME
FROM
	RE_GROUP_STAFF
	LEFT JOIN T_STAFF_INFO ON T_STAFF_INFO.PK_STAFF_ID = RE_GROUP_STAFF.FK_STAFF_ID
WHERE
	RE_GROUP_STAFF.FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR}
	AND RE_GROUP_STAFF.IS_KQ = #{isKq,jdbcType=INTEGER}
    </select>
    <select id="select_YX_workingdaysByGroup" resultType="com.hjy.cloud.t_kq.entity.ReGroupWorkingdays">
        select WORKING_DAYS,FK_BC_ID from RE_GROUP_WORKINGDAYS where FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR}
    </select>
    <select id="select_YX_workaddressByGroup" resultType="com.hjy.cloud.t_kq.entity.ReGroupWorkaddress">
        SELECT
	RE_GROUP_WORKADDRESS.FK_WORKADDRESS_ID,
	T_OUTFIT_WORKADDRESS.WORKADRESS_NAME AS workaddressName
FROM
	RE_GROUP_WORKADDRESS
LEFT JOIN T_OUTFIT_WORKADDRESS
ON T_OUTFIT_WORKADDRESS.PK_WORKADRESS_ID = RE_GROUP_WORKADDRESS.FK_WORKADDRESS_ID
WHERE
	RE_GROUP_WORKADDRESS.FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR}
    </select>
    <select id="select_YX_JbByGroup" resultType="com.hjy.cloud.t_kq.entity.ReJbGroup">
SELECT
	RE_JB_GROUP.FK_JB_ID,
	T_KQ_JB.JB_NAME AS JB_NAME
FROM
	RE_JB_GROUP
LEFT JOIN T_KQ_JB
ON T_KQ_JB.PK_JB_ID = RE_JB_GROUP.FK_JB_ID
WHERE
	RE_JB_GROUP.FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR}
    </select>
    <select id="selectAllId_name" resultType="com.hjy.cloud.t_kq.entity.TKqGroup">
        SELECT PK_GROUP_ID,GROUP_NAME FROM hjy_cloud.T_KQ_GROUP where TURN_ON = 1
    </select>
    <!--新增-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_kq.entity.TKqGroup">
        insert into hjy_cloud.T_KQ_GROUP
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkGroupId != null and pkGroupId != ''">
                PK_GROUP_ID,
            </if>
            <if test="groupName != null and groupName != ''">
                GROUP_NAME,
            </if>
            <if test="autoJoin != null">
                AUTO_JOIN,
            </if>
            <if test="kqAddress != null and kqAddress != ''">
                KQ_ADDRESS,
            </if>
            <if test="kqRange != null">
                KQ_RANGE,
            </if>
            <if test="groupStewards != null and groupStewards != ''">
                GROUP_STEWARDS,
            </if>
            <if test="kqType != null">
                KQ_TYPE,
            </if>
            <if test="typeSet != null">
                TYPE_SET,
            </if>
            <if test="isPaixiu != null">
                IS_PAIXIU,
            </if>
            <if test="bxdkTime != null">
                BXDK_TIME,
            </if>
            <if test="wxdkTime != null">
                WXDK_TIME,
            </if>
            <if test="kqWay != null">
                KQ_WAY,
            </if>
            <if test="isWq != null">
                IS_WQ,
            </if>
            <if test="turnOn != null">
                TURN_ON,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkGroupId != null and pkGroupId != ''">
                #{pkGroupId,jdbcType=VARCHAR},
            </if>
            <if test="groupName != null and groupName != ''">
                #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="autoJoin != null">
                #{autoJoin,jdbcType=INTEGER},
            </if>
            <if test="kqAddress != null and kqAddress != ''">
                #{kqAddress,jdbcType=VARCHAR},
            </if>
            <if test="kqRange != null">
                #{kqRange,jdbcType=INTEGER},
            </if>
            <if test="groupStewards != null and groupStewards != ''">
                #{groupStewards,jdbcType=VARCHAR},
            </if>
            <if test="kqType != null">
                #{kqType,jdbcType=INTEGER},
            </if>
            <if test="typeSet != null">
                #{typeSet,jdbcType=INTEGER}
            </if>
            <if test="isPaixiu != null">
                #{isPaixiu,jdbcType=INTEGER},
            </if>
            <if test="bxdkTime != null">
                #{bxdkTime,jdbcType=DATE},
            </if>
            <if test="wxdkTime != null">
                #{wxdkTime,jdbcType=DATE},
            </if>
            <if test="kqWay != null">
                #{kqWay,jdbcType=INTEGER},
            </if>
            <if test="isWq != null">
                #{isWq,jdbcType=INTEGER},
            </if>
            <if test="turnOn != null">
                #{turnOn,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="insertGroupStaffBatch">
        insert into RE_GROUP_STAFF
        (PK_GROUPSTAFF_ID,FK_GROUP_ID,FK_STAFF_ID,IS_KQ)
        values
        <foreach collection="groupStaffList" item="item" index="index" separator=",">
            (
            #{item.pkGroupstaffId, jdbcType=VARCHAR},
            #{item.fkGroupId, jdbcType=VARCHAR},
            #{item.fkStaffId, jdbcType=VARCHAR},
            #{item.isKq, jdbcType=INTEGER}
            )
        </foreach>
    </insert>
    <delete id="deleteGroupStaffByGroupId">
        delete from RE_GROUP_STAFF where FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR}
    </delete>
    <insert id="insertGroupBcBatch">
        insert into RE_GROUP_WORKINGDAYS
        (PK_GROUPWORKINGDAYS_ID,FK_GROUP_ID,WORKING_DAYS,FK_BC_ID)
        values
        <foreach collection="groupBcList" item="item" index="index" separator=",">
            (
            #{item.pkGroupworkingdaysId,jdbcType=VARCHAR},
            #{item.fkGroupId,jdbcType=VARCHAR},
            #{item.workingDays,jdbcType=VARCHAR},
            #{item.fkBcId,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <delete id="deleteGroupBcByGroupId">
        delete from RE_GROUP_WORKINGDAYS where FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR}
    </delete>
    <insert id="insertGroupWorkaddressBatch">
        insert into RE_GROUP_WORKADDRESS
        (PK_GROUPWORKADDRESS_ID,FK_GROUP_ID,FK_WORKADDRESS_ID)
        values
        <foreach collection="groupWorkaddressList" item="item" index="index" separator=",">
            (
            #{item.pkGroupworkaddressId,jdbcType=VARCHAR},
            #{item.fkGroupId,jdbcType=VARCHAR},
            #{item.fkWorkaddressId,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <delete id="deleteGroupWorkaddressByGroupId">
        delete from RE_GROUP_WORKADDRESS where FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR}
    </delete>
    <insert id="insertJbGroupBatch">
        insert into RE_JB_GROUP
        (PK_JBGROUP_ID,FK_JB_ID,FK_GROUP_ID)
        values
        <foreach collection="jbGroupList" item="item" index="index" separator=",">
            (
            #{item.pkJbgroupId,jdbcType=VARCHAR},
            #{item.fkJbId,jdbcType=VARCHAR},
            #{item.fkGroupId,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <insert id="deleteJbGroupByGroupId_Batch">
        DELETE FROM RE_JB_GROUP
        WHERE RE_JB_GROUP.FK_GROUP_ID
        in(
        <foreach collection="jbGroupList" item="item" index="index" separator=",">
            #{item.fkGroupId,jdbcType=VARCHAR}
        </foreach>
        )
    </insert>
    <delete id="deleteJbGroupByGroupId">
        delete from RE_JB_GROUP where FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteBkGroupByGroupId">
        delete from hjy_cloud.RE_BK_GROUP where FK_GROUP_ID = #{fkGroupId,jdbcType=VARCHAR}
    </delete>
    <!--通过主键修改数据-->
    <update id="updateByPkId">
        update hjy_cloud.T_KQ_GROUP
        <set>
            <if test="groupName != null and groupName != ''">
                GROUP_NAME = #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="autoJoin != null">
                AUTO_JOIN = #{autoJoin,jdbcType=INTEGER},
            </if>
            <if test="kqAddress != null and kqAddress != ''">
                KQ_ADDRESS = #{kqAddress,jdbcType=VARCHAR},
            </if>
            <if test="kqRange != null">
                KQ_RANGE = #{kqRange,jdbcType=INTEGER},
            </if>
            <if test="groupStewards != null and groupStewards != ''">
                GROUP_STEWARDS = #{groupStewards,jdbcType=VARCHAR},
            </if>
            <if test="kqType != null">
                KQ_TYPE = #{kqType,jdbcType=INTEGER},
            </if>
            <if test="typeSet != null">
                TYPE_SET = #{typeSet,jdbcType=INTEGER},
            </if>
            <if test="isPaixiu != null">
                IS_PAIXIU = #{isPaixiu,jdbcType=INTEGER},
            </if>
            <if test="bxdkTime != null">
                BXDK_TIME = #{bxdkTime,jdbcType=DATE},
            </if>
            <if test="wxdkTime != null">
                WXDK_TIME = #{wxdkTime,jdbcType=DATE},
            </if>
            <if test="kqWay != null">
                KQ_WAY = #{kqWay,jdbcType=INTEGER},
            </if>
            <if test="isWq != null">
                IS_WQ = #{isWq,jdbcType=INTEGER},
            </if>
            <if test="turnOn != null">
                TURN_ON = #{turnOn,jdbcType=INTEGER},
            </if>
        </set>
        where PK_GROUP_ID = #{pkGroupId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hjy_cloud.T_KQ_GROUP where PK_GROUP_ID = #{pkGroupId,jdbcType=VARCHAR}
    </delete>

</mapper>

