<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_kq.dao.TKqJbMapper">

    <resultMap type="com.hjy.cloud.t_kq.entity.TKqJb" id="TKqJbMap">
        <result property="pkJbId" column="PK_JB_ID" jdbcType="VARCHAR"/>
        <result property="jbName" column="JB_NAME" jdbcType="VARCHAR"/>
        <result property="fxyjFrequency" column="FXYJ_FREQUENCY" jdbcType="VARCHAR"/>
        <result property="fxyjHour" column="FXYJ_HOUR" jdbcType="INTEGER"/>
        <result property="jsWay" column="JS_WAY" jdbcType="INTEGER"/>
        <result property="jbUnit" column="JB_UNIT" jdbcType="VARCHAR"/>
        <result property="isTxJbf" column="IS_TX_JBF" jdbcType="INTEGER"/>
        <result property="txRule" column="TX_RULE" jdbcType="VARCHAR"/>
        <result property="jbfRule" column="JBF_RULE" jdbcType="VARCHAR"/>
        <result property="turnOn" column="TURN_ON" jdbcType="INTEGER"/>
        <result property="isDefault" column="IS_DEFAULT" jdbcType="INTEGER"/>

    </resultMap>

    <!--查询单个-->
    <select id="selectByPkId" resultMap="TKqJbMap">
        select * from hjy_cloud.T_KQ_JB
        where PK_JB_ID = #{pkJbId}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectAllPage" resultType="com.hjy.cloud.t_kq.entity.TKqJb">
        SELECT
        a.*,
        group_concat(c.FK_GROUP_ID) jbGroupId,
        group_concat(b.GROUP_NAME) jbGroupName
        FROM
        T_KQ_JB a
        LEFT JOIN RE_JB_GROUP c
        on a.PK_JB_ID = c.FK_JB_ID
        LEFT JOIN T_KQ_GROUP b
        on b.PK_GROUP_ID = c.FK_GROUP_ID
        <where>
            <if test="pkJbId != null and pkJbId != ''">
                and a.PK_JB_ID = #{pkJbId,jdbcType=VARCHAR}
            </if>
            <if test="jbName != null and jbName != ''">
                and a.JB_NAME = #{jbName,jdbcType=VARCHAR}
            </if>
            <if test="fxyjFrequency != null and fxyjFrequency != ''">
                and a.FXYJ_FREQUENCY = #{fxyjFrequency,jdbcType=VARCHAR}
            </if>
            <if test="fxyjHour != null">
                and a.FXYJ_HOUR = #{fxyjHour,jdbcType=INTEGER}
            </if>
            <if test="jsWay != null">
                and a.JS_WAY = #{jsWay,jdbcType=INTEGER}
            </if>
            <if test="jbUnit != null">
                and a.JB_UNIT = #{jbUnit,jdbcType=VARCHAR}
            </if>
            <if test="isTxJbf != null">
                and a.IS_TX_JBF = #{isTxJbf,jdbcType=INTEGER}
            </if>
            <if test="txRule != null and txRule != ''">
                and a.TX_RULE = #{txRule,jdbcType=VARCHAR}
            </if>
            <if test="jbfRule != null and jbfRule != ''">
                and a.JBF_RULE = #{jbfRule,jdbcType=VARCHAR}
            </if>
            <if test="turnOn != null">
                and a.TURN_ON = #{turnOn,jdbcType=INTEGER}
            </if>
            <if test="isDefault != null">
                and a.IS_DEFAULT = #{isDefault,jdbcType=INTEGER}
            </if>
        </where>
        GROUP BY a.PK_JB_ID
    </select>
    <select id="select_YX_JbGroupByJbId" resultType="com.hjy.cloud.t_kq.entity.TKqGroup">
       select RE_JB_GROUP.FK_GROUP_ID as pkGroupId from RE_JB_GROUP where FK_JB_ID = #{fkJbId,jdbcType=VARCHAR}
    </select>
    <insert id="insertJbGroupBatch">
        insert into RE_JB_GROUP
        (PK_JBGROUP_ID,FK_JB_ID,FK_GROUP_ID)
        values
        <foreach collection="jbGroups" item="item" index="index" separator=",">
            (
            #{item.pkJbgroupId,jdbcType=VARCHAR},
            #{item.fkJbId,jdbcType=VARCHAR},
            #{item.fkGroupId,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <!--新增-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_kq.entity.TKqJb">
        insert into hjy_cloud.T_KQ_JB
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkJbId != null and pkJbId != ''">
                PK_JB_ID,
            </if>
            <if test="jbName != null and jbName != ''">
                JB_NAME,
            </if>
            <if test="fxyjFrequency != null and fxyjFrequency != ''">
                FXYJ_FREQUENCY,
            </if>
            <if test="fxyjHour != null">
                FXYJ_HOUR,
            </if>
            <if test="jsWay != null">
                JS_WAY,
            </if>
            <if test="jbUnit != null">
                JB_UNIT,
            </if>
            <if test="isTxJbf != null">
                IS_TX_JBF,
            </if>
            <if test="txRule != null and txRule != ''">
                TX_RULE,
            </if>
            <if test="jbfRule != null and jbfRule != ''">
                JBF_RULE,
            </if>
            <if test="turnOn != null">
                TURN_ON,
            </if>
            <if test="isDefault != null">
                IS_DEFAULT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkJbId != null and pkJbId != ''">
                #{pkJbId,jdbcType=VARCHAR},
            </if>
            <if test="jbName != null and jbName != ''">
                #{jbName,jdbcType=VARCHAR},
            </if>
            <if test="fxyjFrequency != null and fxyjFrequency != ''">
                #{fxyjFrequency,jdbcType=VARCHAR},
            </if>
            <if test="fxyjHour != null">
                #{fxyjHour,jdbcType=INTEGER},
            </if>
            <if test="jsWay != null">
                #{jsWay,jdbcType=INTEGER},
            </if>
            <if test="jbUnit != null">
                #{jbUnit,jdbcType=VARCHAR},
            </if>
            <if test="isTxJbf != null">
                #{isTxJbf,jdbcType=INTEGER},
            </if>
            <if test="txRule != null and txRule != ''">
                #{txRule,jdbcType=VARCHAR},
            </if>
            <if test="jbfRule != null and jbfRule != ''">
                #{jbfRule,jdbcType=VARCHAR},
            </if>
            <if test="turnOn != null">
                #{turnOn,jdbcType=INTEGER},
            </if>
            <if test="isDefault != null">
                #{isDefault,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <!--通过主键修改数据-->
    <update id="updateByPkId">
        update hjy_cloud.T_KQ_JB
        <set>
            <if test="jbName != null and jbName != ''">
                JB_NAME = #{jbName,jdbcType=VARCHAR},
            </if>
            <if test="fxyjFrequency != null and fxyjFrequency != ''">
                FXYJ_FREQUENCY = #{fxyjFrequency,jdbcType=VARCHAR},
            </if>
            <if test="fxyjHour != null">
                FXYJ_HOUR = #{fxyjHour,jdbcType=INTEGER},
            </if>
            <if test="jsWay != null">
                JS_WAY = #{jsWay,jdbcType=INTEGER},
            </if>
            <if test="jbUnit != null">
                JB_UNIT = #{jbUnit,jdbcType=VARCHAR},
            </if>
            <if test="isTxJbf != null">
                IS_TX_JBF = #{isTxJbf,jdbcType=INTEGER},
            </if>
            <if test="txRule != null and txRule != ''">
                TX_RULE = #{txRule,jdbcType=VARCHAR},
            </if>
            <if test="jbfRule != null and jbfRule != ''">
                JBF_RULE = #{jbfRule,jdbcType=VARCHAR},
            </if>
            <if test="turnOn != null">
                TURN_ON = #{turnOn,jdbcType=INTEGER},
            </if>
            <if test="isDefault != null">
                IS_DEFAULT = #{isDefault,jdbcType=INTEGER},
            </if>
        </set>
        where PK_JB_ID = #{pkJbId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hjy_cloud.T_KQ_JB where PK_JB_ID = #{pkJbId,jdbcType=VARCHAR} and IS_DEFAULT !=1
    </delete>
    <delete id="deleteJbGroupByJbId">
        delete from hjy_cloud.RE_JB_GROUP where FK_JB_ID = #{fkJbId,jdbcType=VARCHAR}
    </delete>

</mapper>

