<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_outfit.dao.TOutfitDeptMapper">

    <resultMap type="com.hjy.cloud.t_outfit.entity.TOutfitDept" id="TOutfitDeptMap">
        <result property="pkDeptId" column="PK_DEPT_ID" jdbcType="VARCHAR"/>
        <result property="deptName" column="DEPT_NAME" jdbcType="VARCHAR"/>
        <result property="deptAddress" column="DEPT_ADDRESS" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="superiorDept" column="SUPERIOR_DEPT" jdbcType="VARCHAR"/>
        <result property="deptLeader" column="DEPT_LEADER" jdbcType="VARCHAR"/>
        <result property="remarks" column="REMARKS" jdbcType="VARCHAR"/>
        <result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP"/>
        <result property="leaderCard" column="LEADER_CARD" jdbcType="VARCHAR"/>
        <result property="maxNum" column="MAX_NUM" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectByPkId" resultMap="TOutfitDeptMap">
        select PK_DEPT_ID,DEPT_NAME,DEPT_ADDRESS,CREATE_TIME,SUPERIOR_DEPT,DEPT_LEADER,REMARKS,MODIFY_TIME,LEADER_CARD,MAX_NUM,T_STAFF_INFO.STAFF_NAME AS leaderName
        from hjy_cloud.T_OUTFIT_DEPT
        LEFT JOIN T_STAFF_INFO ON T_STAFF_INFO.PK_STAFF_ID = T_OUTFIT_DEPT.DEPT_LEADER
        where PK_DEPT_ID = #{pkDeptId}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectAllPage" resultMap="TOutfitDeptMap">
        select * from hjy_cloud.T_OUTFIT_DEPT
        <where>
            <if test="pkDeptId != null and pkDeptId != ''">
                and PK_DEPT_ID = #{pkDeptId}
            </if>
            <if test="deptName != null and deptName != ''">
                and DEPT_NAME = #{deptName}
            </if>
            <if test="deptAddress != null and deptAddress != ''">
                and DEPT_ADDRESS = #{deptAddress}
            </if>
            <if test="createTime != null">
                and CREATE_TIME = #{createTime}
            </if>
            <if test="superiorDept != null and superiorDept != ''">
                and SUPERIOR_DEPT = #{superiorDept}
            </if>
            <if test="deptLeader != null and deptLeader != ''">
                and DEPT_LEADER = #{deptLeader}
            </if>
            <if test="remarks != null and remarks != ''">
                and REMARKS = #{remarks}
            </if>
            <if test="modifyTime != null">
                and MODIFY_TIME = #{modifyTime}
            </if>
            <if test="leaderCard != null and leaderCard != ''">
                and LEADER_CARD = #{leaderCard}
            </if>
            <if test="maxNum != null">
                and MAX_NUM = #{maxNum}
            </if>
        </where>
    </select>
    <select id="selectAllIdAndName" resultType="com.hjy.cloud.t_outfit.entity.TOutfitDept">
        select PK_DEPT_ID,DEPT_NAME FROM T_OUTFIT_DEPT
    </select>
    <select id="selectDeptUser_userIded" resultType="java.lang.String">
        select PK_STAFF_ID from T_STAFF_INFO where PK_STAFF_ID not in (select FK_USER_ID from RE_DEPT_USER
        where FK_DEPT_ID = #{fkDeptId,jdbcType=VARCHAR})
    </select>
    <select id="selectDeptUserByDept" resultType="java.lang.String" parameterType="java.lang.String">
        select FK_USER_ID from RE_DEPT_USER
        where FK_DEPT_ID = #{fkDeptId,jdbcType=VARCHAR}
    </select>
    <!--No problem 查询所有部门单位数据-->
    <select id="selectAllDeptName" resultType="java.lang.String">
        select DEPT_NAME from T_OUTFIT_DEPT
    </select>
    <select id="selectDeptIdByUserId" resultType="java.lang.String">
        select FK_DEPT_ID from RE_DEPT_USER where FK_USER_ID = #{fkUserId,jdbcType=VARCHAR}
    </select>
    <select id="selectSuperiorDeptId" resultType="java.lang.String">
        select SUPERIOR_DEPT from T_OUTFIT_DEPT where PK_DEPT_ID = #{pkDeptId,jdbcType=VARCHAR}
    </select>
    <select id="selectAllIdAndName_BBKDQBM" resultType="com.hjy.cloud.t_outfit.entity.TOutfitDept">
        select PK_DEPT_ID,DEPT_NAME FROM T_OUTFIT_DEPT where PK_DEPT_ID != #{pkDeptId,jdbcType=VARCHAR}
    </select>
    <select id="selectStructure" resultType="com.hjy.cloud.t_outfit.entity.TOutfitStructure">
        SELECT
	T_OUTFIT_COMPANY.PK_COMPANY_ID AS companyId,
	T_OUTFIT_COMPANY.COMPANY_NAME,
	T_OUTFIT_DEPT.PK_DEPT_ID as deptId,
	T_OUTFIT_DEPT.DEPT_NAME,
	T_OUTFIT_DEPT.DEPT_LEADER AS fzr,
	RE_DEPT_USER.FK_USER_ID AS staffId,
	T_STAFF_INFO.STAFF_NAME,
	a.num AS zzNum
FROM
	T_OUTFIT_COMPANY
	LEFT JOIN T_OUTFIT_DEPT ON T_OUTFIT_DEPT.SUPERIOR_DEPT = T_OUTFIT_COMPANY.PK_COMPANY_ID
	LEFT JOIN RE_DEPT_USER ON T_OUTFIT_DEPT.PK_DEPT_ID = RE_DEPT_USER.FK_DEPT_ID
	LEFT JOIN T_STAFF_INFO ON RE_DEPT_USER.FK_USER_ID = T_STAFF_INFO.PK_STAFF_ID
	LEFT JOIN ( SELECT FK_DEPT_ID, count(*) AS num FROM RE_DEPT_USER GROUP BY FK_DEPT_ID ) AS a ON T_OUTFIT_DEPT.PK_DEPT_ID = a.FK_DEPT_ID
    </select>
    <select id="selectAllDeptNameNoIncludeOtherCompany" resultType="java.lang.String">
        select DEPT_NAME from T_OUTFIT_DEPT where SUPERIOR_DEPT = #{superiorDept}
    </select>
    <!--新增所有列-->
    <insert id="insert" keyProperty="pkDeptId" useGeneratedKeys="true">
        insert into hjy_cloud.T_OUTFIT_DEPT(DEPT_NAME, DEPT_ADDRESS, CREATE_TIME, SUPERIOR_DEPT, DEPT_LEADER, REMARKS, MODIFY_TIME, LEADER_CARD, MAX_NUM)
        values (#{deptName}, #{deptAddress}, #{createTime}, #{superiorDept}, #{deptLeader}, #{remarks}, #{modifyTime}, #{leaderCard}, #{maxNum})
    </insert>
    <!--No problem 新增数据-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_outfit.entity.TOutfitDept" >
        insert into T_OUTFIT_DEPT
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="pkDeptId != null and pkDeptId != ''">
                PK_DEPT_ID,
            </if>
            <if test="deptName != null and deptName != ''">
                DEPT_NAME,
            </if>
            <if test="deptAddress != null and deptAddress != ''">
                DEPT_ADDRESS,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="superiorDept != null and superiorDept != ''">
                SUPERIOR_DEPT,
            </if>
            <if test="deptLeader != null and deptLeader != ''">
                DEPT_LEADER,
            </if>
            <if test="remarks != null and remarks != ''">
                REMARKS,
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME,
            </if>
            <if test="leaderCard != null and leaderCard != ''">
                LEADER_CARD,
            </if>
            <if test="maxNum != null">
                MAX_NUM,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="pkDeptId != null and pkDeptId != ''">
                #{pkDeptId,jdbcType=VARCHAR},
            </if>
            <if test="deptName != null and deptName != ''">
                #{deptName,jdbcType=VARCHAR},
            </if>
            <if test="deptAddress != null and deptAddress != ''">
                #{deptAddress,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="superiorDept != null and superiorDept != ''">
                #{superiorDept,jdbcType=VARCHAR},
            </if>
            <if test="deptLeader != null and deptLeader != ''">
                #{deptLeader,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null and remarks != ''">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="leaderCard != null and leaderCard != ''">
                #{leaderCard,jdbcType=VARCHAR},
            </if>
            <if test="maxNum != null">
                #{maxNum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>


    <!--部门批量添加用户    -->
    <insert id="addDeptUserByList" parameterType="list">
        insert  INTO
        RE_DEPT_USER(PK_DEPTUSER_ID,FK_DEPT_ID,FK_USER_ID)
        values
        <foreach collection="idList" item="item" index="index" separator=",">
            (
            #{item.pk_deptUser_id, jdbcType=VARCHAR},
            #{item.fk_dept_id, jdbcType=VARCHAR},
            #{item.fk_user_id, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <insert id="addDeptUserByList2" parameterType="list">
        insert  INTO
        RE_DEPT_USER(PK_DEPTUSER_ID,FK_DEPT_ID,FK_USER_ID,FK_COMPANY_ID)
        values
        <foreach collection="idList" item="item" index="index" separator=",">
            (
            #{item.pk_deptUser_id, jdbcType=VARCHAR},
            #{item.fk_dept_id, jdbcType=VARCHAR},
            #{item.fk_user_id, jdbcType=VARCHAR},
            #{item.fk_company_id, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <!--No problem 添加用户部门    -->
    <insert id="addDeptUserByDeptUser" parameterType="com.hjy.cloud.t_system.entity.ReDeptUser">
       insert into RE_DEPT_USER(PK_DEPTUSER_ID,FK_DEPT_ID,FK_USER_ID)
        values (#{pk_deptUser_id},#{fk_dept_id},#{fk_user_id})
    </insert>
    <!--通过主键修改数据-->
    <update id="updateByPkId">
        update hjy_cloud.T_OUTFIT_DEPT
        <set>
            <if test="deptName != null and deptName != ''">
                DEPT_NAME = #{deptName},
            </if>
            <if test="deptAddress != null and deptAddress != ''">
                DEPT_ADDRESS = #{deptAddress},
            </if>
            <if test="superiorDept != null and superiorDept != ''">
                SUPERIOR_DEPT = #{superiorDept},
            </if>
            <if test="deptLeader != null and deptLeader != ''">
                DEPT_LEADER = #{deptLeader},
            </if>
            <if test="remarks != null and remarks != ''">
                REMARKS = #{remarks},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime},
            </if>
            <if test="leaderCard != null and leaderCard != ''">
                LEADER_CARD = #{leaderCard},
            </if>
            <if test="maxNum != null">
                MAX_NUM = #{maxNum},
            </if>
        </set>
        where PK_DEPT_ID = #{pkDeptId}
    </update>
    <update id="updateByDeptId">
        update RE_DEPT_USER SET  FK_DEPT_ID = #{hbdDeptId,jdbcType=VARCHAR}
        where FK_DEPT_ID = #{hbDeptId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hjy_cloud.T_OUTFIT_DEPT where PK_DEPT_ID = #{pkDeptId}
    </delete>
    <delete id="deleteDeptUserByDeptId_CompanyId">
        delete from RE_DEPT_USER
        where FK_DEPT_ID =#{fkDeptId,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteDeptUserByDeptId">
        delete from RE_DEPT_USER
        where FK_DEPT_ID =#{fkDeptId,jdbcType=VARCHAR}
    </delete>
    <!--No problem 删除用户部门    -->
    <delete id="deleteDeptUserByUserId" parameterType="java.lang.String">
        delete from RE_DEPT_USER where FK_USER_ID =#{fkUserId,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteCompanyDeptByDeptId">
        delete from RE_COMPANY_DEPT where FK_DEPT_ID =#{fkDeptId,jdbcType=VARCHAR}
    </delete>
<!--    <select id="selectDeptUser_userIded" resultType="java.lang.String">-->
<!--        select PK_STAFF_ID from T_STAFF_INFO where PK_STAFF_ID not in (select FK_USER_ID from RE_DEPT_USER-->
<!--        where FK_DEPT_ID = #{fkDeptId,jdbcType=VARCHAR}-->
<!--        and FK_COMPANY_ID = #{fkCompanyId,jdbcType=VARCHAR})-->
<!--    </select>-->
    <select id="selectDeptUserByDept2" resultType="java.lang.String" parameterType="java.lang.String">
        select FK_USER_ID from RE_DEPT_USER
        where FK_DEPT_ID = #{fkDeptId,jdbcType=VARCHAR}
        and FK_COMPANY_ID = #{fkCompanyId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteDeptUserByDeptId_CompanyId2">
        delete from RE_DEPT_USER
        where FK_DEPT_ID =#{fkDeptId,jdbcType=VARCHAR}
        and FK_COMPANY_ID = #{fkCompanyId,jdbcType=VARCHAR}
    </delete>
</mapper>