<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_staff.dao.TStaffInfoMapper">

    <resultMap type="com.hjy.cloud.t_staff.entity.TStaffInfo" id="TStaffInfoMap">
        <result property="pkStaffId" column="PK_STAFF_ID" jdbcType="VARCHAR"/>
        <result property="staffName" column="STAFF_NAME" jdbcType="VARCHAR"/>
        <result property="staffSex" column="STAFF_SEX" jdbcType="INTEGER"/>
        <result property="staffAge" column="STAFF_AGE" jdbcType="INTEGER"/>
        <result property="staffStatus" column="STAFF_STATUS" jdbcType="INTEGER"/>
        <result property="fkDeptId" column="FK_DEPT_ID" jdbcType="VARCHAR"/>
        <result property="fkPositionId" column="FK_POSITION_ID" jdbcType="VARCHAR"/>
        <result property="fkWorkaddressId" column="FK_WORKADDRESS_ID" jdbcType="VARCHAR"/>
        <result property="entryTime" column="ENTRY_TIME" jdbcType="DATE"/>
        <result property="fkHtlxId" column="FK_HTLX_ID" jdbcType="VARCHAR"/>
        <result property="recruitWay" column="RECRUIT_WAY" jdbcType="VARCHAR"/>
        <result property="syqdqTime" column="SYQDQ_TIME" jdbcType="DATE"/>
        <result property="idType" column="ID_TYPE" jdbcType="VARCHAR"/>
        <result property="idCard" column="ID_CARD" jdbcType="VARCHAR"/>
        <result property="staffEmail" column="STAFF_EMAIL" jdbcType="VARCHAR"/>
        <result property="staffTel" column="STAFF_TEL" jdbcType="VARCHAR"/>
        <result property="nativePlace" column="NATIVE_PLACE" jdbcType="VARCHAR"/>
        <result property="birthday" column="BIRTHDAY" jdbcType="VARCHAR"/>
        <result property="fkNationId" column="FK_NATION_ID" jdbcType="VARCHAR"/>
        <result property="hkszd" column="HKSZD" jdbcType="VARCHAR"/>
        <result property="politivalOutlook" column="POLITIVAL_OUTLOOK" jdbcType="VARCHAR"/>
        <result property="currentAddress" column="CURRENT_ADDRESS" jdbcType="VARCHAR"/>
        <result property="isMarry" column="IS_MARRY" jdbcType="INTEGER"/>
        <result property="fkEducationId" column="FK_EDUCATION_ID" jdbcType="VARCHAR"/>
        <result property="zgxlbyyx" column="ZGXLBYYX" jdbcType="VARCHAR"/>
        <result property="wyDj" column="WY_DJ" jdbcType="VARCHAR"/>
        <result property="jsjDj" column="JSJ_DJ" jdbcType="VARCHAR"/>
        <result property="major" column="MAJOR" jdbcType="VARCHAR"/>
        <result property="bankName" column="BANK_NAME" jdbcType="VARCHAR"/>
        <result property="bankId" column="BANK_ID" jdbcType="VARCHAR"/>
        <result property="branchBank" column="BRANCH_BANK" jdbcType="VARCHAR"/>
        <result property="syr" column="SYR" jdbcType="VARCHAR"/>
        <result property="picturePath" column="PICTURE_PATH" jdbcType="VARCHAR"/>
        <result property="hblxName1" column="HBLX_NAME1" jdbcType="VARCHAR"/>
        <result property="object1" column="OBJECT1" jdbcType="VARCHAR"/>
        <result property="hblxName2" column="HBLX_NAME2" jdbcType="VARCHAR"/>
        <result property="object2" column="OBJECT2" jdbcType="VARCHAR"/>
        <result property="hblxName3" column="HBLX_NAME3" jdbcType="VARCHAR"/>
        <result property="object3" column="OBJECT3" jdbcType="VARCHAR"/>
        <result property="hblxName4" column="HBLX_NAME4" jdbcType="VARCHAR"/>
        <result property="object4" column="OBJECT4" jdbcType="VARCHAR"/>
        <result property="hblxName5" column="HBLX_NAME5" jdbcType="VARCHAR"/>
        <result property="object5" column="OBJECT5" jdbcType="VARCHAR"/>
    </resultMap>
    <!--根据实体信息查询记录条数-->
    <select id="selectCountByEntity" resultType="java.lang.Integer">
        select count(*) from T_STAFF_INFO
        <where>
            <if test="pkStaffId != null and pkStaffId != ''">
                and PK_STAFF_ID = #{pkStaffId,jdbcType=VARCHAR}
            </if>
            <if test="staffName != null and staffName != ''">
                and STAFF_NAME = #{staffName,jdbcType=VARCHAR}
            </if>
            <if test="staffSex != null">
                and STAFF_SEX = #{staffSex,jdbcType=INTEGER}
            </if>
            <if test="staffAge != null">
                and STAFF_AGE = #{staffAge,jdbcType=INTEGER}
            </if>
            <if test="staffStatus != null">
                and STAFF_STATUS = #{staffStatus,jdbcType=INTEGER}
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                and FK_DEPT_ID = #{fkDeptId,jdbcType=VARCHAR}
            </if>
            <if test="fkPositionId != null and fkPositionId != ''">
                and FK_POSITION_ID = #{fkPositionId,jdbcType=VARCHAR}
            </if>
            <if test="fkWorkaddressId != null and fkWorkaddressId != ''">
                and FK_WORKADDRESS_ID = #{fkWorkaddressId,jdbcType=VARCHAR}
            </if>
            <if test="fkHtlxId != null and fkHtlxId != ''">
                and FK_HTLX_ID = #{fkHtlxId,jdbcType=VARCHAR}
            </if>
            <if test="recruitWay != null and recruitWay != ''">
                and RECRUIT_WAY = #{recruitWay,jdbcType=VARCHAR}
            </if>
            <if test="idType != null and idType != ''">
                and ID_TYPE = #{idType,jdbcType=VARCHAR}
            </if>
            <if test="idCard != null and idCard != ''">
                and ID_CARD = #{idCard,jdbcType=VARCHAR}
            </if>
            <if test="staffEmail != null and staffEmail != ''">
                and STAFF_EMAIL = #{staffEmail,jdbcType=VARCHAR}
            </if>
            <if test="staffTel != null and staffTel != ''">
                and STAFF_TEL = #{staffTel,jdbcType=VARCHAR}
            </if>
            <if test="nativePlace != null and nativePlace != ''">
                and NATIVE_PLACE = #{nativePlace,jdbcType=VARCHAR}
            </if>
            <if test="birthday != null and birthday != ''">
                and BIRTHDAY = #{birthday,jdbcType=VARCHAR}
            </if>
            <if test="fkNationId != null and fkNationId != ''">
                and FK_NATION_ID = #{fkNationId,jdbcType=VARCHAR}
            </if>
            <if test="hkszd != null and hkszd != ''">
                and HKSZD = #{hkszd,jdbcType=VARCHAR}
            </if>
            <if test="politivalOutlook != null and politivalOutlook != ''">
                and POLITIVAL_OUTLOOK = #{politivalOutlook,jdbcType=VARCHAR}
            </if>
            <if test="currentAddress != null and currentAddress != ''">
                and CURRENT_ADDRESS = #{currentAddress,jdbcType=VARCHAR}
            </if>
            <if test="isMarry != null">
                and IS_MARRY = #{isMarry,jdbcType=INTEGER}
            </if>
            <if test="fkEducationId != null and fkEducationId != ''">
                and FK_EDUCATION_ID = #{fkEducationId,jdbcType=VARCHAR}
            </if>
            <if test="zgxlbyyx != null and zgxlbyyx != ''">
                and ZGXLBYYX = #{zgxlbyyx,jdbcType=VARCHAR}
            </if>
            <if test="wyDj != null and wyDj != ''">
                and WY_DJ = #{wyDj,jdbcType=VARCHAR}
            </if>
            <if test="jsjDj != null and jsjDj != ''">
                and JSJ_DJ = #{jsjDj,jdbcType=VARCHAR}
            </if>
            <if test="major != null and major != ''">
                and MAJOR = #{major,jdbcType=VARCHAR}
            </if>
            <if test="bankName != null and bankName != ''">
                and BANK_NAME = #{bankName,jdbcType=VARCHAR}
            </if>
            <if test="bankId != null and bankId != ''">
                and BANK_ID = #{bankId,jdbcType=VARCHAR}
            </if>
            <if test="branchBank != null and branchBank != ''">
                and BRANCH_BANK = #{branchBank,jdbcType=VARCHAR}
            </if>
            <if test="syr != null and syr != ''">
                and SYR = #{syr,jdbcType=VARCHAR}
            </if>
            <if test="picturePath != null and picturePath != ''">
                and PICTURE_PATH = #{picturePath,jdbcType=VARCHAR}
            </if>
            <if test="hblxName1 != null and hblxName1 != ''">
                and HBLX_NAME1 = #{hblxName1,jdbcType=VARCHAR}
            </if>
            <if test="object1 != null and object1 != ''">
                and OBJECT1 = #{object1,jdbcType=VARCHAR}
            </if>
            <if test="hblxName2 != null and hblxName2 != ''">
                and HBLX_NAME2 = #{hblxName2,jdbcType=VARCHAR}
            </if>
            <if test="object2 != null and object2 != ''">
                and OBJECT2 = #{object2,jdbcType=VARCHAR}
            </if>
            <if test="hblxName3 != null and hblxName3 != ''">
                and HBLX_NAME3 = #{hblxName3,jdbcType=VARCHAR}
            </if>
            <if test="object3 != null and object3 != ''">
                and OBJECT3 = #{object3,jdbcType=VARCHAR}
            </if>
            <if test="hblxName4 != null and hblxName4 != ''">
                and HBLX_NAME4 = #{hblxName4,jdbcType=VARCHAR}
            </if>
            <if test="object4 != null and object4 != ''">
                and OBJECT4 = #{object4,jdbcType=VARCHAR}
            </if>
            <if test="hblxName5 != null and hblxName5 != ''">
                and HBLX_NAME5 = #{hblxName5,jdbcType=VARCHAR}
            </if>
            <if test="object5 != null and object5 != ''">
                and OBJECT5 = #{object5,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <!--查询单个-->
    <select id="selectByPkId2" resultType="com.hjy.cloud.t_staff.entity.TStaffInfo">
        SELECT
        PK_STAFF_ID,
        STAFF_NAME,
        STAFF_SEX,
        STAFF_AGE,
        STAFF_STATUS,
        T_STAFF_INFO.FK_DEPT_ID,
        T_OUTFIT_DEPT.DEPT_NAME AS deptName,
        T_STAFF_INFO.FK_POSITION_ID,
        T_DICTIONARY_POSITION.POSITION_NAME AS positionName,
        T_STAFF_INFO.FK_WORKADDRESS_ID,
        T_OUTFIT_WORKADDRESS.WORKADRESS_NAME AS workAddressName,
        ENTRY_TIME,
        T_STAFF_INFO.FK_HTLX_ID,
        T_DICTIONARY_HTLX.CONTRAC_TYPE AS htlxName,
        RECRUIT_WAY,
        SYQDQ_TIME,
        ID_TYPE,
        ID_CARD,
        STAFF_EMAIL,
        STAFF_TEL,
        NATIVE_PLACE,
        BIRTHDAY,
        T_STAFF_INFO.FK_NATION_ID,
        T_DICTIONARY_NATION.NATION_NAME AS nationName,
        HKSZD,
        POLITIVAL_OUTLOOK,
        CURRENT_ADDRESS,
        IS_MARRY,
        T_STAFF_INFO.FK_EDUCATION_ID,
        T_DICTIONARY_EDUCATION.EDUCATION_NAME AS educationName,
        T_STAFF_INFO.ZGXLBYYX,
        T_STAFF_INFO.WY_DJ,
        T_STAFF_INFO.JSJ_DJ,
        T_STAFF_INFO.MAJOR,
        T_STAFF_INFO.BANK_NAME,
        T_STAFF_INFO.BANK_ID,
        T_STAFF_INFO.BRANCH_BANK,
        T_STAFF_INFO.SYR,
        T_STAFF_INFO.PICTURE_PATH,
        T_STAFF_INFO.HBLX_NAME1,
        T_STAFF_INFO.OBJECT1,
        T_STAFF_INFO.HBLX_NAME2,
        T_STAFF_INFO.OBJECT2,
        T_STAFF_INFO.HBLX_NAME3,
        T_STAFF_INFO.OBJECT3,
        T_STAFF_INFO.HBLX_NAME4,
        T_STAFF_INFO.OBJECT4,
        T_STAFF_INFO.HBLX_NAME5,
        T_STAFF_INFO.OBJECT5
        FROM
        T_STAFF_INFO
        LEFT JOIN T_OUTFIT_DEPT ON T_STAFF_INFO.FK_DEPT_ID = T_OUTFIT_DEPT.PK_DEPT_ID
        LEFT JOIN T_DICTIONARY_POSITION ON T_STAFF_INFO.FK_POSITION_ID = T_DICTIONARY_POSITION.PK_POSITION_ID
        LEFT JOIN T_OUTFIT_WORKADDRESS ON T_OUTFIT_WORKADDRESS.PK_WORKADRESS_ID = T_STAFF_INFO.FK_WORKADDRESS_ID
        LEFT JOIN T_DICTIONARY_HTLX ON T_DICTIONARY_HTLX.PK_HTLX_ID = T_STAFF_INFO.FK_HTLX_ID
        LEFT JOIN T_DICTIONARY_NATION ON T_STAFF_INFO.FK_NATION_ID = T_DICTIONARY_NATION.PK_NATION_ID
        LEFT JOIN T_DICTIONARY_EDUCATION ON T_STAFF_INFO.FK_EDUCATION_ID = T_DICTIONARY_EDUCATION.PK_EDUCATION_ID
        where 1 = 1
        <if test="pkStaffId != null and pkStaffId != ''">
            and PK_STAFF_ID = #{pkStaffId}
        </if>
        <if test="staffName != null and staffName != ''">
            and STAFF_NAME = #{staffName}
        </if>
        <if test="staffSex != null">
            and STAFF_SEX = #{staffSex}
        </if>
        <if test="fkDeptId != null and fkDeptId != ''">
            and FK_DEPT_ID = #{fkDeptId}
        </if>
        <if test="fkPositionId != null and fkPositionId != ''">
            and FK_POSITION_ID = #{fkPositionId}
        </if>
        <if test="idCard != null and idCard != ''">
            and ID_CARD = #{idCard}
        </if>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectAllPage" resultMap="TStaffInfoMap">
        SELECT
        PK_STAFF_ID,
        STAFF_NAME,
        STAFF_SEX,
        STAFF_AGE,
        STAFF_STATUS,
        T_OUTFIT_DEPT.DEPT_NAME AS FK_DEPT_ID,
        T_DICTIONARY_POSITION.POSITION_NAME AS FK_POSITION_ID,
        ENTRY_TIME,
        T_DICTIONARY_HTLX.CONTRAC_TYPE AS FK_HTLX_ID,
        RECRUIT_WAY,
        SYQDQ_TIME,
        ID_TYPE,
        ID_CARD,
        STAFF_EMAIL,
        STAFF_TEL,
        NATIVE_PLACE,
        BIRTHDAY,
        T_DICTIONARY_NATION.NATION_NAME AS FK_NATION_ID,
        HKSZD,
        POLITIVAL_OUTLOOK,
        CURRENT_ADDRESS,
        IS_MARRY,
        T_DICTIONARY_EDUCATION.EDUCATION_NAME AS FK_EDUCATION_ID,
        T_STAFF_INFO.ZGXLBYYX,
        T_STAFF_INFO.WY_DJ,
        T_STAFF_INFO.JSJ_DJ,
        T_STAFF_INFO.MAJOR,
        T_STAFF_INFO.BANK_NAME,
        T_STAFF_INFO.BANK_ID,
        T_STAFF_INFO.BRANCH_BANK,
        T_STAFF_INFO.SYR,
        T_STAFF_INFO.PICTURE_PATH,
        T_STAFF_INFO.HBLX_NAME1,
        T_STAFF_INFO.OBJECT1,
        T_STAFF_INFO.HBLX_NAME2,
        T_STAFF_INFO.OBJECT2,
        T_STAFF_INFO.HBLX_NAME3,
        T_STAFF_INFO.OBJECT3,
        T_STAFF_INFO.HBLX_NAME4,
        T_STAFF_INFO.OBJECT4,
        T_STAFF_INFO.HBLX_NAME5,
        T_STAFF_INFO.OBJECT5
        FROM
        T_STAFF_INFO
        LEFT JOIN T_OUTFIT_DEPT ON T_STAFF_INFO.FK_DEPT_ID = T_OUTFIT_DEPT.PK_DEPT_ID
        LEFT JOIN T_DICTIONARY_POSITION ON T_STAFF_INFO.FK_POSITION_ID = T_DICTIONARY_POSITION.PK_POSITION_ID
        LEFT JOIN T_DICTIONARY_HTLX ON T_DICTIONARY_HTLX.PK_HTLX_ID = T_STAFF_INFO.FK_HTLX_ID
        LEFT JOIN T_DICTIONARY_NATION ON T_STAFF_INFO.FK_NATION_ID = T_DICTIONARY_NATION.PK_NATION_ID
        LEFT JOIN T_DICTIONARY_EDUCATION ON T_STAFF_INFO.FK_EDUCATION_ID = T_DICTIONARY_EDUCATION.PK_EDUCATION_ID
        <where>
            <if test="staffName != null and staffName != ''">
                and STAFF_NAME = #{staffName}
            </if>
            <if test="staffSex != null">
                and STAFF_SEX = #{staffSex}
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                and FK_DEPT_ID = #{fkDeptId}
            </if>
            <if test="fkPositionId != null and fkPositionId != ''">
                and FK_POSITION_ID = #{fkPositionId}
            </if>
            <if test="idCard != null and idCard != ''">
                and ID_CARD = #{idCard}
            </if>
        </where>
        order by ENTRY_TIME desc
    </select>
    <select id="selectAllId_Name" resultType="com.hjy.cloud.t_staff.entity.TStaffInfo">
SELECT
	PK_STAFF_ID,
	STAFF_NAME,
	FK_DEPT_ID,
	FK_POSITION_ID,
	FK_DEPT_ID,
	T_OUTFIT_DEPT.DEPT_NAME AS deptName,
	T_DICTIONARY_POSITION.POSITION_NAME AS positionName
FROM
	T_STAFF_INFO
	LEFT JOIN T_OUTFIT_DEPT ON T_OUTFIT_DEPT.PK_DEPT_ID = T_STAFF_INFO.FK_DEPT_ID
	LEFT JOIN T_DICTIONARY_POSITION ON T_DICTIONARY_POSITION.PK_POSITION_ID = T_STAFF_INFO.FK_POSITION_ID
    </select>
    <select id="selectAll" resultType="com.hjy.cloud.t_staff.result.StaffInfos">
SELECT
	T_STAFF_INFO.PK_STAFF_ID,
	T_STAFF_INFO.STAFF_NAME,
	T_STAFF_INFO.FK_DEPT_ID,
	T_OUTFIT_DEPT.DEPT_NAME,
	T_STAFF_INFO.FK_POSITION_ID,
	T_DICTIONARY_POSITION.POSITION_NAME
FROM
	T_STAFF_INFO
	LEFT JOIN T_OUTFIT_DEPT on T_OUTFIT_DEPT.PK_DEPT_ID = T_STAFF_INFO.FK_DEPT_ID
	LEFT JOIN T_DICTIONARY_POSITION on T_DICTIONARY_POSITION.PK_POSITION_ID = T_STAFF_INFO.FK_POSITION_ID
    </select>
    <select id="selectDeptLeader" resultType="com.hjy.cloud.t_staff.entity.TStaffInfo">
        SELECT
	T_STAFF_INFO.PK_STAFF_ID,
	T_STAFF_INFO.STAFF_NAME
FROM
	T_STAFF_INFO
WHERE
	T_STAFF_INFO.PK_STAFF_ID = (
	SELECT
		DEPT_LEADER
	FROM
		T_OUTFIT_DEPT
WHERE
	PK_DEPT_ID = ( SELECT FK_DEPT_ID FROM T_STAFF_INFO WHERE PK_STAFF_ID = #{pkStaffId}))
    </select>
    <select id="selectLeaderByPosition" resultType="com.hjy.cloud.t_staff.entity.TStaffInfo">
SELECT
	T_STAFF_INFO.PK_STAFF_ID,
	T_STAFF_INFO.STAFF_NAME
FROM
	T_STAFF_INFO
WHERE
	T_STAFF_INFO.FK_POSITION_ID = #{fkPositionId}
    </select>
    <select id="selectByIdCard" resultType="com.hjy.cloud.t_staff.entity.TStaffInfo">
SELECT
        PK_STAFF_ID,
        STAFF_NAME,
        STAFF_SEX,
        STAFF_AGE,
        STAFF_STATUS,
        T_STAFF_INFO.FK_DEPT_ID,
        T_OUTFIT_DEPT.DEPT_NAME AS deptName,
        T_STAFF_INFO.FK_POSITION_ID,
        T_DICTIONARY_POSITION.POSITION_NAME AS positionName,
        T_STAFF_INFO.FK_WORKADDRESS_ID,
        T_OUTFIT_WORKADDRESS.WORKADRESS_NAME AS workAddressName,
        ENTRY_TIME,
        T_STAFF_INFO.FK_HTLX_ID,
        T_DICTIONARY_HTLX.CONTRAC_TYPE AS htlxName,
        RECRUIT_WAY,
        SYQDQ_TIME,
        ID_TYPE,
        ID_CARD,
        STAFF_EMAIL,
        STAFF_TEL,
        NATIVE_PLACE,
        BIRTHDAY,
        T_STAFF_INFO.FK_NATION_ID,
        T_DICTIONARY_NATION.NATION_NAME AS nationName,
        HKSZD,
        POLITIVAL_OUTLOOK,
        CURRENT_ADDRESS,
        IS_MARRY,
        T_STAFF_INFO.FK_EDUCATION_ID,
        T_DICTIONARY_EDUCATION.EDUCATION_NAME AS educationName,
        T_STAFF_INFO.ZGXLBYYX,
        T_STAFF_INFO.WY_DJ,
        T_STAFF_INFO.JSJ_DJ,
        T_STAFF_INFO.MAJOR,
        T_STAFF_INFO.BANK_NAME,
        T_STAFF_INFO.BANK_ID,
        T_STAFF_INFO.BRANCH_BANK,
        T_STAFF_INFO.SYR,
        T_STAFF_INFO.PICTURE_PATH,
        T_STAFF_INFO.HBLX_NAME1,
        T_STAFF_INFO.OBJECT1,
        T_STAFF_INFO.HBLX_NAME2,
        T_STAFF_INFO.OBJECT2,
        T_STAFF_INFO.HBLX_NAME3,
        T_STAFF_INFO.OBJECT3,
        T_STAFF_INFO.HBLX_NAME4,
        T_STAFF_INFO.OBJECT4,
        T_STAFF_INFO.HBLX_NAME5,
        T_STAFF_INFO.OBJECT5
        FROM
        T_STAFF_INFO
        LEFT JOIN T_OUTFIT_DEPT ON T_STAFF_INFO.FK_DEPT_ID = T_OUTFIT_DEPT.PK_DEPT_ID
        LEFT JOIN T_DICTIONARY_POSITION ON T_STAFF_INFO.FK_POSITION_ID = T_DICTIONARY_POSITION.PK_POSITION_ID
        LEFT JOIN T_OUTFIT_WORKADDRESS ON T_OUTFIT_WORKADDRESS.PK_WORKADRESS_ID = T_STAFF_INFO.FK_WORKADDRESS_ID
        LEFT JOIN T_DICTIONARY_HTLX ON T_DICTIONARY_HTLX.PK_HTLX_ID = T_STAFF_INFO.FK_HTLX_ID
        LEFT JOIN T_DICTIONARY_NATION ON T_STAFF_INFO.FK_NATION_ID = T_DICTIONARY_NATION.PK_NATION_ID
        LEFT JOIN T_DICTIONARY_EDUCATION ON T_STAFF_INFO.FK_EDUCATION_ID = T_DICTIONARY_EDUCATION.PK_EDUCATION_ID
        where T_STAFF_INFO.ID_CARD = #{idcard}
    </select>
<!--查询还没添加工资条的员工列表，不包括已经添加过的员工-->
    <select id="selectEnableAddSalary" resultType="com.hjy.cloud.t_staff.entity.TStaffInfo">
SELECT T_STAFF_INFO.PK_STAFF_ID,T_STAFF_INFO.STAFF_NAME
FROM T_STAFF_INFO WHERE PK_STAFF_ID NOT IN (SELECT DISTINCT(T_STAFF_SALARY.FK_STAFF_ID) FROM T_STAFF_SALARY)
    </select>
    <!--查询还没添加考勤组的员工列表，不包括已经添加过的员工-->
    <select id="selectAll_KX_StaffId_Name" resultType="com.hjy.cloud.t_staff.entity.TStaffInfo">
SELECT T_STAFF_INFO.PK_STAFF_ID,T_STAFF_INFO.STAFF_NAME
FROM T_STAFF_INFO WHERE PK_STAFF_ID NOT IN (SELECT DISTINCT(RE_GROUP_STAFF.FK_STAFF_ID) FROM RE_GROUP_STAFF)
    </select>
    <select id="selectUserIdByDept" resultType="java.lang.String">
        select distinct (PK_STAFF_ID) from T_STAFF_INFO where FK_DEPT_ID = #{fkDeptId}
    </select>
    <select id="selectByIds" resultType="com.hjy.cloud.t_staff.entity.TStaffInfo">
        select *
        from T_STAFF_INFO
        where PK_STAFF_ID in
        <foreach item="item" collection="ids" separator="," open="(" close=")" index="">
            #{item, jdbcType=VARCHAR}
        </foreach>
        order by ENTRY_TIME DESC
    </select>
    <!--新增-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_staff.entity.TStaffInfo">
        insert into T_STAFF_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkStaffId != null and pkStaffId != ''">
                PK_STAFF_ID,
            </if>
            <if test="staffName != null and staffName != ''">
                STAFF_NAME,
            </if>
            <if test="staffSex != null">
                STAFF_SEX,
            </if>
            <if test="staffAge != null">
                STAFF_AGE,
            </if>
            <if test="staffStatus != null">
                STAFF_STATUS,
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                FK_DEPT_ID,
            </if>
            <if test="fkPositionId != null and fkPositionId != ''">
                FK_POSITION_ID,
            </if>
            <if test="fkWorkaddressId != null and fkWorkaddressId != ''">
                FK_WORKADDRESS_ID,
            </if>
            <if test="entryTime != null">
                ENTRY_TIME,
            </if>
            <if test="fkHtlxId != null and fkHtlxId != ''">
                FK_HTLX_ID,
            </if>
            <if test="recruitWay != null and recruitWay != ''">
                RECRUIT_WAY,
            </if>
            <if test="syqdqTime != null">
                SYQDQ_TIME,
            </if>
            <if test="idType != null and idType != ''">
                ID_TYPE,
            </if>
            <if test="idCard != null and idCard != ''">
                ID_CARD,
            </if>
            <if test="staffEmail != null and staffEmail != ''">
                STAFF_EMAIL,
            </if>
            <if test="staffTel != null and staffTel != ''">
                STAFF_TEL,
            </if>
            <if test="nativePlace != null and nativePlace != ''">
                NATIVE_PLACE,
            </if>
            <if test="birthday != null and birthday != ''">
                BIRTHDAY,
            </if>
            <if test="fkNationId != null and fkNationId != ''">
                FK_NATION_ID,
            </if>
            <if test="hkszd != null and hkszd != ''">
                HKSZD,
            </if>
            <if test="politivalOutlook != null and politivalOutlook != ''">
                POLITIVAL_OUTLOOK,
            </if>
            <if test="currentAddress != null and currentAddress != ''">
                CURRENT_ADDRESS,
            </if>
            <if test="isMarry != null">
                IS_MARRY,
            </if>
            <if test="fkEducationId != null and fkEducationId != ''">
                FK_EDUCATION_ID,
            </if>
            <if test="zgxlbyyx != null and zgxlbyyx != ''">
                ZGXLBYYX,
            </if>
            <if test="wyDj != null and wyDj != ''">
                WY_DJ,
            </if>
            <if test="jsjDj != null and jsjDj != ''">
                JSJ_DJ,
            </if>
            <if test="major != null and major != ''">
                MAJOR,
            </if>
            <if test="bankName != null and bankName != ''">
                BANK_NAME,
            </if>
            <if test="bankId != null and bankId != ''">
                BANK_ID,
            </if>
            <if test="branchBank != null and branchBank != ''">
                BRANCH_BANK,
            </if>
            <if test="syr != null and syr != ''">
                SYR,
            </if>
            <if test="picturePath != null and picturePath != ''">
                PICTURE_PATH,
            </if>
            <if test="hblxName1 != null and hblxName1 != ''">
                HBLX_NAME1,
            </if>
            <if test="object1 != null and object1 != ''">
                OBJECT1,
            </if>
            <if test="hblxName2 != null and hblxName2 != ''">
                HBLX_NAME2,
            </if>
            <if test="object2 != null and object2 != ''">
                OBJECT2,
            </if>
            <if test="hblxName3 != null and hblxName3 != ''">
                HBLX_NAME3,
            </if>
            <if test="object3 != null and object3 != ''">
                OBJECT3,
            </if>
            <if test="hblxName4 != null and hblxName4 != ''">
                HBLX_NAME4,
            </if>
            <if test="object4 != null and object4 != ''">
                OBJECT4,
            </if>
            <if test="hblxName5 != null and hblxName5 != ''">
                HBLX_NAME5,
            </if>
            <if test="object5 != null and object5 != ''">
                OBJECT5,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkStaffId != null and pkStaffId != ''">
                #{pkStaffId,jdbcType=VARCHAR},
            </if>
            <if test="staffName != null and staffName != ''">
                #{staffName,jdbcType=VARCHAR},
            </if>
            <if test="staffSex != null">
                #{staffSex,jdbcType=INTEGER},
            </if>
            <if test="staffAge != null">
                #{staffAge,jdbcType=INTEGER},
            </if>
            <if test="staffStatus != null">
                #{staffStatus,jdbcType=INTEGER},
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                #{fkDeptId,jdbcType=VARCHAR},
            </if>
            <if test="fkPositionId != null and fkPositionId != ''">
                #{fkPositionId,jdbcType=VARCHAR},
            </if>
            <if test="fkWorkaddressId != null and fkWorkaddressId != ''">
                #{fkWorkaddressId,jdbcType=VARCHAR},
            </if>
            <if test="entryTime != null">
                #{entryTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fkHtlxId != null and fkHtlxId != ''">
                #{fkHtlxId,jdbcType=VARCHAR},
            </if>
            <if test="recruitWay != null and recruitWay != ''">
                #{recruitWay,jdbcType=VARCHAR},
            </if>
            <if test="syqdqTime != null">
                #{syqdqTime,jdbcType=TIMESTAMP},
            </if>
            <if test="idType != null and idType != ''">
                #{idType,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null and idCard != ''">
                #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="staffEmail != null and staffEmail != ''">
                #{staffEmail,jdbcType=VARCHAR},
            </if>
            <if test="staffTel != null and staffTel != ''">
                #{staffTel,jdbcType=VARCHAR},
            </if>
            <if test="nativePlace != null and nativePlace != ''">
                #{nativePlace,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null and birthday != ''">
                #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="fkNationId != null and fkNationId != ''">
                #{fkNationId,jdbcType=VARCHAR},
            </if>
            <if test="hkszd != null and hkszd != ''">
                #{hkszd,jdbcType=VARCHAR},
            </if>
            <if test="politivalOutlook != null and politivalOutlook != ''">
                #{politivalOutlook,jdbcType=VARCHAR},
            </if>
            <if test="currentAddress != null and currentAddress != ''">
                #{currentAddress,jdbcType=VARCHAR},
            </if>
            <if test="isMarry != null">
                #{isMarry,jdbcType=INTEGER},
            </if>
            <if test="fkEducationId != null and fkEducationId != ''">
                #{fkEducationId,jdbcType=VARCHAR},
            </if>
            <if test="zgxlbyyx != null and zgxlbyyx != ''">
                #{zgxlbyyx,jdbcType=VARCHAR},
            </if>
            <if test="wyDj != null and wyDj != ''">
                #{wyDj,jdbcType=VARCHAR},
            </if>
            <if test="jsjDj != null and jsjDj != ''">
                #{jsjDj,jdbcType=VARCHAR},
            </if>
            <if test="major != null and major != ''">
                #{major,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null and bankName != ''">
                #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="bankId != null and bankId != ''">
                #{bankId,jdbcType=VARCHAR},
            </if>
            <if test="branchBank != null and branchBank != ''">
                #{branchBank,jdbcType=VARCHAR},
            </if>
            <if test="syr != null and syr != ''">
                #{syr,jdbcType=VARCHAR},
            </if>
            <if test="picturePath != null and picturePath != ''">
                #{picturePath,jdbcType=VARCHAR},
            </if>
            <if test="hblxName1 != null and hblxName1 != ''">
                #{hblxName1,jdbcType=VARCHAR},
            </if>
            <if test="object1 != null and object1 != ''">
                #{object1,jdbcType=VARCHAR},
            </if>
            <if test="hblxName2 != null and hblxName2 != ''">
                #{hblxName2,jdbcType=VARCHAR},
            </if>
            <if test="object2 != null and object2 != ''">
                #{object2,jdbcType=VARCHAR},
            </if>
            <if test="hblxName3 != null and hblxName3 != ''">
                #{hblxName3,jdbcType=VARCHAR},
            </if>
            <if test="object3 != null and object3 != ''">
                #{object3,jdbcType=VARCHAR},
            </if>
            <if test="hblxName4 != null and hblxName4 != ''">
                #{hblxName4,jdbcType=VARCHAR},
            </if>
            <if test="object4 != null and object4 != ''">
                #{object4,jdbcType=VARCHAR},
            </if>
            <if test="hblxName5 != null and hblxName5 != ''">
                #{hblxName5,jdbcType=VARCHAR},
            </if>
            <if test="object5 != null and object5 != ''">
                #{object5,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!--通过主键修改数据-->
    <update id="updateByPkId">
        update T_STAFF_INFO
        <set>
            <if test="staffName != null and staffName != ''">
                STAFF_NAME = #{staffName,jdbcType=VARCHAR},
            </if>
            <if test="staffSex != null">
                STAFF_SEX = #{staffSex,jdbcType=INTEGER},
            </if>
            <if test="staffAge != null">
                STAFF_AGE = #{staffAge,jdbcType=INTEGER},
            </if>
            <if test="staffStatus != null">
                STAFF_STATUS = #{staffStatus,jdbcType=INTEGER},
            </if>
            <if test="fkDeptId != null and fkDeptId != ''">
                FK_DEPT_ID = #{fkDeptId,jdbcType=VARCHAR},
            </if>
            <if test="fkPositionId != null and fkPositionId != ''">
                FK_POSITION_ID = #{fkPositionId,jdbcType=VARCHAR},
            </if>
            <if test="fkWorkaddressId != null and fkWorkaddressId != ''">
                FK_WORKADDRESS_ID = #{fkWorkaddressId,jdbcType=VARCHAR},
            </if>
            <if test="entryTime != null">
                ENTRY_TIME = #{entryTime,jdbcType=DATE},
            </if>
            <if test="fkHtlxId != null and fkHtlxId != ''">
                FK_HTLX_ID = #{fkHtlxId,jdbcType=VARCHAR},
            </if>
            <if test="recruitWay != null and recruitWay != ''">
                RECRUIT_WAY = #{recruitWay,jdbcType=VARCHAR},
            </if>
            <if test="syqdqTime != null">
                SYQDQ_TIME = #{syqdqTime,jdbcType=DATE},
            </if>
            <if test="idType != null and idType != ''">
                ID_TYPE = #{idType,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null and idCard != ''">
                ID_CARD = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="staffEmail != null and staffEmail != ''">
                STAFF_EMAIL = #{staffEmail,jdbcType=VARCHAR},
            </if>
            <if test="staffTel != null and staffTel != ''">
                STAFF_TEL = #{staffTel,jdbcType=VARCHAR},
            </if>
            <if test="nativePlace != null and nativePlace != ''">
                NATIVE_PLACE = #{nativePlace,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null and birthday != ''">
                BIRTHDAY = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="fkNationId != null and fkNationId != ''">
                FK_NATION_ID = #{fkNationId,jdbcType=VARCHAR},
            </if>
            <if test="hkszd != null and hkszd != ''">
                HKSZD = #{hkszd,jdbcType=VARCHAR},
            </if>
            <if test="politivalOutlook != null and politivalOutlook != ''">
                POLITIVAL_OUTLOOK = #{politivalOutlook,jdbcType=VARCHAR},
            </if>
            <if test="currentAddress != null and currentAddress != ''">
                CURRENT_ADDRESS = #{currentAddress,jdbcType=VARCHAR},
            </if>
            <if test="isMarry != null">
                IS_MARRY = #{isMarry,jdbcType=INTEGER},
            </if>
            <if test="fkEducationId != null and fkEducationId != ''">
                FK_EDUCATION_ID = #{fkEducationId,jdbcType=VARCHAR},
            </if>
            <if test="zgxlbyyx != null and zgxlbyyx != ''">
                ZGXLBYYX = #{zgxlbyyx,jdbcType=VARCHAR},
            </if>
            <if test="wyDj != null and wyDj != ''">
                WY_DJ = #{wyDj,jdbcType=VARCHAR},
            </if>
            <if test="jsjDj != null and jsjDj != ''">
                JSJ_DJ = #{jsjDj,jdbcType=VARCHAR},
            </if>
            <if test="major != null and major != ''">
                MAJOR = #{major,jdbcType=VARCHAR},
            </if>
            <if test="bankName != null and bankName != ''">
                BANK_NAME = #{bankName,jdbcType=VARCHAR},
            </if>
            <if test="bankId != null and bankId != ''">
                BANK_ID = #{bankId,jdbcType=VARCHAR},
            </if>
            <if test="branchBank != null and branchBank != ''">
                BRANCH_BANK = #{branchBank,jdbcType=VARCHAR},
            </if>
            <if test="syr != null and syr != ''">
                SYR = #{syr,jdbcType=VARCHAR},
            </if>
            <if test="picturePath != null and picturePath != ''">
                PICTURE_PATH = #{picturePath,jdbcType=VARCHAR},
            </if>
            <if test="hblxName1 != null and hblxName1 != ''">
                HBLX_NAME1 = #{hblxName1,jdbcType=VARCHAR},
            </if>
            <if test="object1 != null and object1 != ''">
                OBJECT1 = #{object1,jdbcType=VARCHAR},
            </if>
            <if test="hblxName2 != null and hblxName2 != ''">
                HBLX_NAME2 = #{hblxName2,jdbcType=VARCHAR},
            </if>
            <if test="object2 != null and object2 != ''">
                OBJECT2 = #{object2,jdbcType=VARCHAR},
            </if>
            <if test="hblxName3 != null and hblxName3 != ''">
                HBLX_NAME3 = #{hblxName3,jdbcType=VARCHAR},
            </if>
            <if test="object3 != null and object3 != ''">
                OBJECT3 = #{object3,jdbcType=VARCHAR},
            </if>
            <if test="hblxName4 != null and hblxName4 != ''">
                HBLX_NAME4 = #{hblxName4,jdbcType=VARCHAR},
            </if>
            <if test="object4 != null and object4 != ''">
                OBJECT4 = #{object4,jdbcType=VARCHAR},
            </if>
            <if test="hblxName5 != null and hblxName5 != ''">
                HBLX_NAME5 = #{hblxName5,jdbcType=VARCHAR},
            </if>
            <if test="object5 != null and object5 != ''">
                OBJECT5 = #{object5,jdbcType=VARCHAR},
            </if>
        </set>
        where PK_STAFF_ID = #{pkStaffId, jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from T_STAFF_INFO where PK_STAFF_ID = #{pkStaffId}
    </delete>
    <delete id="deleteDeptUserByDeptId">
        update T_STAFF_INFO set FK_DEPT_ID = null where FK_DEPT_ID= #{fkDeptId}
    </delete>

</mapper>

