<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_staff.dao.TStaffRenewalMapper">

    <resultMap type="com.hjy.cloud.t_staff.entity.TStaffRenewal" id="TStaffRenewalMap">
        <result property="pkRenewalId" column="PK_RENEWAL_ID" jdbcType="VARCHAR"/>
        <result property="fkStaffId" column="FK_STAFF_ID" jdbcType="VARCHAR"/>
        <result property="fkContractType" column="FK_CONTRACT_TYPE" jdbcType="VARCHAR"/>
        <result property="renewalStartTime" column="RENEWAL_START_TIME" jdbcType="TIMESTAMP"/>
        <result property="renewalEndTime" column="RENEWAL_END_TIME" jdbcType="TIMESTAMP"/>
        <result property="renewalTime" column="RENEWAL_TIME" jdbcType="TIMESTAMP"/>
        <result property="startTime" column="START_TIME" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="END_TIME" jdbcType="TIMESTAMP"/>
        <result property="approvalStatus" column="APPROVAL_STATUS" jdbcType="INTEGER"/>
        <result property="annex" column="ANNEX" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectByPkId" resultMap="TStaffRenewalMap">
        select * from hjy_cloud.T_STAFF_RENEWAL
        where PK_RENEWAL_ID = #{pkRenewalId}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectAllPage" resultMap="TStaffRenewalMap">
        select
        PK_RENEWAL_ID, FK_STAFF_ID, FK_CONTRACT_TYPE, RENEWAL_START_TIME, RENEWAL_END_TIME, RENEWAL_TIME, START_TIME,
        END_TIME, APPROVAL_STATUS, ANNEX
        from hjy_cloud.T_STAFF_RENEWAL
        <where>
            <if test="pkRenewalId != null and pkRenewalId != ''">
                and PK_RENEWAL_ID = #{pkRenewalId,jdbcType=VARCHAR}
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                and FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR}
            </if>
            <if test="fkContractType != null and fkContractType != ''">
                and FK_CONTRACT_TYPE = #{fkContractType,jdbcType=VARCHAR}
            </if>
            <if test="renewalStartTime != null">
                and RENEWAL_START_TIME = #{renewalStartTime,jdbcType=TIMESTAMP}
            </if>
            <if test="renewalEndTime != null">
                and RENEWAL_END_TIME = #{renewalEndTime,jdbcType=TIMESTAMP}
            </if>
            <if test="renewalTime != null">
                and RENEWAL_TIME = #{renewalTime,jdbcType=TIMESTAMP}
            </if>
            <if test="startTime != null">
                and START_TIME = #{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                and END_TIME = #{endTime,jdbcType=TIMESTAMP}
            </if>
            <if test="approvalStatus != null">
                and APPROVAL_STATUS = #{approvalStatus,jdbcType=INTEGER}
            </if>
            <if test="annex != null and annex != ''">
                and ANNEX = #{annex,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <!--新增-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_staff.entity.TStaffRenewal">
        insert into hjy_cloud.T_STAFF_RENEWAL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkRenewalId != null and pkRenewalId != ''">
                PK_RENEWAL_ID,
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                FK_STAFF_ID,
            </if>
            <if test="fkContractType != null and fkContractType != ''">
                FK_CONTRACT_TYPE,
            </if>
            <if test="renewalStartTime != null">
                RENEWAL_START_TIME,
            </if>
            <if test="renewalEndTime != null">
                RENEWAL_END_TIME,
            </if>
            <if test="renewalTime != null">
                RENEWAL_TIME,
            </if>
            <if test="startTime != null">
                START_TIME,
            </if>
            <if test="endTime != null">
                END_TIME,
            </if>
            <if test="approvalStatus != null">
                APPROVAL_STATUS,
            </if>
            <if test="annex != null and annex != ''">
                ANNEX,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkRenewalId != null and pkRenewalId != ''">
                #{pkRenewalId,jdbcType=VARCHAR},
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                #{fkStaffId,jdbcType=VARCHAR},
            </if>
            <if test="fkContractType != null and fkContractType != ''">
                #{fkContractType,jdbcType=VARCHAR},
            </if>
            <if test="renewalStartTime != null">
                #{renewalStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="renewalEndTime != null">
                #{renewalEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="renewalTime != null">
                #{renewalTime,jdbcType=TIMESTAMP},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="approvalStatus != null">
                #{approvalStatus,jdbcType=INTEGER},
            </if>
            <if test="annex != null and annex != ''">
                #{annex,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!--通过主键修改数据-->
    <update id="updateByPkId">
        update hjy_cloud.T_STAFF_RENEWAL
        <set>
            <if test="fkStaffId != null and fkStaffId != ''">
                FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR},
            </if>
            <if test="fkContractType != null and fkContractType != ''">
                FK_CONTRACT_TYPE = #{fkContractType,jdbcType=VARCHAR},
            </if>
            <if test="renewalStartTime != null">
                RENEWAL_START_TIME = #{renewalStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="renewalEndTime != null">
                RENEWAL_END_TIME = #{renewalEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="renewalTime != null">
                RENEWAL_TIME = #{renewalTime,jdbcType=TIMESTAMP},
            </if>
            <if test="startTime != null">
                START_TIME = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                END_TIME = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="approvalStatus != null">
                APPROVAL_STATUS = #{approvalStatus,jdbcType=INTEGER},
            </if>
            <if test="annex != null and annex != ''">
                ANNEX = #{annex,jdbcType=VARCHAR},
            </if>
        </set>
        where PK_RENEWAL_ID = #{pkRenewalId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hjy_cloud.T_STAFF_RENEWAL where PK_RENEWAL_ID = #{pkRenewalId,jdbcType=VARCHAR}
    </delete>

</mapper>

