<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_staff.dao.TStaffSalaryMapper">

    <resultMap type="com.hjy.cloud.t_staff.entity.TStaffSalary" id="TStaffSalaryMap">
        <result property="pkSalaryId" column="PK_SALARY_ID" jdbcType="VARCHAR"/>
        <result property="fkStaffId" column="FK_STAFF_ID" jdbcType="VARCHAR"/>
        <result property="staffName" column="STAFF_NAME" jdbcType="VARCHAR"/>
        <result property="jbXz" column="JB_XZ" jdbcType="REAL"/>
        <result property="gwXz" column="GW_XZ" jdbcType="REAL"/>
        <result property="jxXz" column="JX_XZ" jdbcType="REAL"/>
        <result property="qqBt" column="QQ_BT" jdbcType="REAL"/>
        <result property="jtBt" column="JT_BT" jdbcType="REAL"/>
        <result property="csBt" column="CS_BT" jdbcType="REAL"/>
        <result property="cdZtKq" column="CD_ZT_KQ" jdbcType="REAL"/>
        <result property="qkBKq" column="QK_B_KQ" jdbcType="REAL"/>
        <result property="sjBjKq" column="SJ_BJ_KQ" jdbcType="REAL"/>
        <result property="qtKq" column="QT_KQ" jdbcType="REAL"/>
        <result property="sbKq" column="SB_KQ" jdbcType="REAL"/>
        <result property="gjjKq" column="GJJ_KQ" jdbcType="REAL"/>
        <result property="grsdsKq" column="GRSDS_KQ" jdbcType="REAL"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectByPkId" resultMap="TStaffSalaryMap">
        select * from hjy_cloud.T_STAFF_SALARY
        where PK_SALARY_ID = #{pkSalaryId}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectAllPage" resultType="com.hjy.cloud.t_staff.entity.TStaffSalary">
        select
        T_STAFF_SALARY.PK_SALARY_ID,
        T_STAFF_SALARY.FK_STAFF_ID,
        T_STAFF_SALARY.STAFF_NAME,
        T_STAFF_SALARY.JB_XZ,
        T_STAFF_SALARY.GW_XZ,
        T_STAFF_SALARY.JX_XZ,
        T_STAFF_SALARY.QQ_BT,
        T_STAFF_SALARY.JT_BT,
        T_STAFF_SALARY.CS_BT,
        T_STAFF_SALARY.CD_ZT_KQ,
        T_STAFF_SALARY.QK_B_KQ,
        T_STAFF_SALARY.SJ_BJ_KQ,
        T_STAFF_SALARY.QT_KQ,
        T_STAFF_SALARY.SB_KQ,
        T_STAFF_SALARY.GJJ_KQ,
        T_STAFF_SALARY.GRSDS_KQ,
        IF(D_SALARY_RECORD.FK_STAFF_ID IS NULL,0,1)as isSend
        FROM T_STAFF_SALARY
        LEFT JOIN D_SALARY_RECORD on D_SALARY_RECORD.FK_STAFF_ID = T_STAFF_SALARY.FK_STAFF_ID
        and DATE_FORMAT(D_SALARY_RECORD.SEND_TIME,'%Y%m') = DATE_FORMAT(CURDATE(),'%Y%m')
        where 1 =1
        <if test="pkSalaryId != null and pkSalaryId != ''">
            and T_STAFF_SALARY.PK_SALARY_ID = #{pkSalaryId,jdbcType=VARCHAR}
        </if>
        <if test="fkStaffId != null and fkStaffId != ''">
            and T_STAFF_SALARY.FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR}
        </if>
        <if test="staffName != null and staffName != ''">
            and T_STAFF_SALARY.STAFF_NAME like '%${staffName}%'
        </if>
    </select>
    <select id="selectRecordAllPage" resultType="com.hjy.cloud.common.entity.DSalaryRecord">
        select * FROM D_SALARY_RECORD
        where 1 =1
        <if test="staffName != null and staffName != ''">
            and D_SALARY_RECORD.STAFF_NAME like '%${staffName}%'
        </if>
        <if test="sendTime != null">
            and DATE_FORMAT(D_SALARY_RECORD.SEND_TIME,'%Y%m') = DATE_FORMAT(#{sendTime},'%Y%m')
        </if>
    </select>
    <!--新增-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_staff.entity.TStaffSalary">
        insert into hjy_cloud.T_STAFF_SALARY
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkSalaryId != null and pkSalaryId != ''">
                PK_SALARY_ID,
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                FK_STAFF_ID,
            </if>
            <if test="staffName != null and staffName != ''">
                STAFF_NAME,
            </if>
            <if test="jbXz != null">
                JB_XZ,
            </if>
            <if test="gwXz != null">
                GW_XZ,
            </if>
            <if test="jxXz != null">
                JX_XZ,
            </if>
            <if test="qqBt != null">
                QQ_BT,
            </if>
            <if test="jtBt != null">
                JT_BT,
            </if>
            <if test="csBt != null">
                CS_BT,
            </if>
            <if test="cdZtKq != null">
                CD_ZT_KQ,
            </if>
            <if test="qkBKq != null">
                QK_B_KQ,
            </if>
            <if test="sjBjKq != null">
                SJ_BJ_KQ,
            </if>
            <if test="qtKq != null">
                QT_KQ,
            </if>
            <if test="sbKq != null">
                SB_KQ,
            </if>
            <if test="gjjKq != null">
                GJJ_KQ,
            </if>
            <if test="grsdsKq != null">
                GRSDS_KQ,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkSalaryId != null and pkSalaryId != ''">
                #{pkSalaryId,jdbcType=VARCHAR},
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                #{fkStaffId,jdbcType=VARCHAR},
            </if>
            <if test="staffName != null and staffName != ''">
                #{staffName,jdbcType=VARCHAR},
            </if>
            <if test="jbXz != null">
                #{jbXz,jdbcType=REAL},
            </if>
            <if test="gwXz != null">
                #{gwXz,jdbcType=REAL},
            </if>
            <if test="jxXz != null">
                #{jxXz,jdbcType=REAL},
            </if>
            <if test="qqBt != null">
                #{qqBt,jdbcType=REAL},
            </if>
            <if test="jtBt != null">
                #{jtBt,jdbcType=REAL},
            </if>
            <if test="csBt != null">
                #{csBt,jdbcType=REAL},
            </if>
            <if test="cdZtKq != null">
                #{cdZtKq,jdbcType=REAL},
            </if>
            <if test="qkBKq != null">
                #{qkBKq,jdbcType=REAL},
            </if>
            <if test="sjBjKq != null">
                #{sjBjKq,jdbcType=REAL},
            </if>
            <if test="qtKq != null">
                #{qtKq,jdbcType=REAL},
            </if>
            <if test="sbKq != null">
                #{sbKq,jdbcType=REAL},
            </if>
            <if test="gjjKq != null">
                #{gjjKq,jdbcType=REAL},
            </if>
            <if test="grsdsKq != null">
                #{grsdsKq,jdbcType=REAL},
            </if>
        </trim>
    </insert>
    <insert id="insertSalaryRecord">
        insert into hjy_cloud.D_SALARY_RECORD
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkSalaryrecordId != null and pkSalaryrecordId != ''">
                PK_SALARYRECORD_ID,
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                FK_STAFF_ID,
            </if>
            <if test="staffName != null and staffName != ''">
                STAFF_NAME,
            </if>
            <if test="jbXz != null">
                JB_XZ,
            </if>
            <if test="gwXz != null">
                GW_XZ,
            </if>
            <if test="jxXz != null">
                JX_XZ,
            </if>
            <if test="qqBt != null">
                QQ_BT,
            </if>
            <if test="jtBt != null">
                JT_BT,
            </if>
            <if test="csBt != null">
                CS_BT,
            </if>
            <if test="cdZtKq != null">
                CD_ZT_KQ,
            </if>
            <if test="qkBKq != null">
                QK_B_KQ,
            </if>
            <if test="sjBjKq != null">
                SJ_BJ_KQ,
            </if>
            <if test="qtKq != null">
                QT_KQ,
            </if>
            <if test="sbKq != null">
                SB_KQ,
            </if>
            <if test="gjjKq != null">
                GJJ_KQ,
            </if>
            <if test="grsdsKq != null">
                GRSDS_KQ,
            </if>
            <if test="dueSalary != null">
                DUE_SALARY,
            </if>
            <if test="takeHomePay != null">
                TAKE_HOME_PAY,
            </if>
            <if test="sendStatus != null">
                SEND_STATUS,
            </if>
            <if test="checkStatus != null">
                CHECK_STATUS,
            </if>
            <if test="confirmStatus != null">
                CONFIRM_STATUS,
            </if>
            <if test="oepratePeople != null">
                OEPRATE_PEOPLE,
            </if>
            <if test="sendTime != null">
                SEND_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkSalaryrecordId != null and pkSalaryrecordId != ''">
                #{pkSalaryrecordId,jdbcType=VARCHAR},
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                #{fkStaffId,jdbcType=VARCHAR},
            </if>
            <if test="staffName != null and staffName != ''">
                #{staffName,jdbcType=VARCHAR},
            </if>
            <if test="jbXz != null">
                #{jbXz,jdbcType=REAL},
            </if>
            <if test="gwXz != null">
                #{gwXz,jdbcType=REAL},
            </if>
            <if test="jxXz != null">
                #{jxXz,jdbcType=REAL},
            </if>
            <if test="qqBt != null">
                #{qqBt,jdbcType=REAL},
            </if>
            <if test="jtBt != null">
                #{jtBt,jdbcType=REAL},
            </if>
            <if test="csBt != null">
                #{csBt,jdbcType=REAL},
            </if>
            <if test="cdZtKq != null">
                #{cdZtKq,jdbcType=REAL},
            </if>
            <if test="qkBKq != null">
                #{qkBKq,jdbcType=REAL},
            </if>
            <if test="sjBjKq != null">
                #{sjBjKq,jdbcType=REAL},
            </if>
            <if test="qtKq != null">
                #{qtKq,jdbcType=REAL},
            </if>
            <if test="sbKq != null">
                #{sbKq,jdbcType=REAL},
            </if>
            <if test="gjjKq != null">
                #{gjjKq,jdbcType=REAL},
            </if>
            <if test="grsdsKq != null">
                #{grsdsKq,jdbcType=REAL},
            </if>
            <if test="dueSalary != null">
                #{dueSalary,jdbcType=REAL},
            </if>
            <if test="takeHomePay != null">
                #{takeHomePay,jdbcType=REAL},
            </if>
            <if test="sendStatus != null">
                #{sendStatus,jdbcType=INTEGER},
            </if>
            <if test="checkStatus != null">
                #{checkStatus,jdbcType=INTEGER},
            </if>
            <if test="confirmStatus != null">
                #{confirmStatus,jdbcType=INTEGER},
            </if>
            <if test="oepratePeople != null">
                #{oepratePeople,jdbcType=VARCHAR},
            </if>
            <if test="sendTime != null">
                #{sendTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <!--通过主键修改数据-->
    <update id="updateByPkId">
        update hjy_cloud.T_STAFF_SALARY
        <set>
            <if test="fkStaffId != null and fkStaffId != ''">
                FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR},
            </if>
            <if test="staffName != null and staffName != ''">
                STAFF_NAME = #{staffName,jdbcType=VARCHAR},
            </if>
            <if test="jbXz != null">
                JB_XZ = #{jbXz,jdbcType=REAL},
            </if>
            <if test="gwXz != null">
                GW_XZ = #{gwXz,jdbcType=REAL},
            </if>
            <if test="jxXz != null">
                JX_XZ = #{jxXz,jdbcType=REAL},
            </if>
            <if test="qqBt != null">
                QQ_BT = #{qqBt,jdbcType=REAL},
            </if>
            <if test="jtBt != null">
                JT_BT = #{jtBt,jdbcType=REAL},
            </if>
            <if test="csBt != null">
                CS_BT = #{csBt,jdbcType=REAL},
            </if>
            <if test="cdZtKq != null">
                CD_ZT_KQ = #{cdZtKq,jdbcType=REAL},
            </if>
            <if test="qkBKq != null">
                QK_B_KQ = #{qkBKq,jdbcType=REAL},
            </if>
            <if test="sjBjKq != null">
                SJ_BJ_KQ = #{sjBjKq,jdbcType=REAL},
            </if>
            <if test="qtKq != null">
                QT_KQ = #{qtKq,jdbcType=REAL},
            </if>
            <if test="sbKq != null">
                SB_KQ = #{sbKq,jdbcType=REAL},
            </if>
            <if test="gjjKq != null">
                GJJ_KQ = #{gjjKq,jdbcType=REAL},
            </if>
            <if test="grsdsKq != null">
                GRSDS_KQ = #{grsdsKq,jdbcType=REAL},
            </if>
        </set>
        where PK_SALARY_ID = #{pkSalaryId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hjy_cloud.T_STAFF_SALARY where PK_SALARY_ID = #{pkSalaryId,jdbcType=VARCHAR}
    </delete>

</mapper>

