<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_staff.dao.TStaffReassignMapper">

    <resultMap type="com.hjy.cloud.t_staff.entity.TStaffReassign" id="TStaffReassignMap">
        <result property="pkReassignId" column="PK_REASSIGN_ID" jdbcType="VARCHAR"/>
        <result property="fkStaffId" column="FK_STAFF_ID" jdbcType="VARCHAR"/>
        <result property="startTime" column="START_TIME" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="END_TIME" jdbcType="TIMESTAMP"/>
        <result property="reassignTime" column="REASSIGN_TIME" jdbcType="TIMESTAMP"/>
        <result property="reassignType" column="REASSIGN_TYPE" jdbcType="VARCHAR"/>
        <result property="oldDeptId" column="OLD_DEPT_ID" jdbcType="VARCHAR"/>
        <result property="reassignDeptId" column="REASSIGN_DEPT_ID" jdbcType="VARCHAR"/>
        <result property="oldPosition" column="OLD_POSITION" jdbcType="VARCHAR"/>
        <result property="reassignPosition" column="REASSIGN_POSITION" jdbcType="VARCHAR"/>
        <result property="oldAddress" column="OLD_ADDRESS" jdbcType="VARCHAR"/>
        <result property="reassignAddress" column="REASSIGN_ADDRESS" jdbcType="VARCHAR"/>
        <result property="oldCompany" column="OLD_COMPANY" jdbcType="VARCHAR"/>
        <result property="reassignCompany" column="REASSIGN_COMPANY" jdbcType="VARCHAR"/>
        <result property="oldLeader" column="OLD_LEADER" jdbcType="VARCHAR"/>
        <result property="reassignLeader" column="REASSIGN_LEADER" jdbcType="VARCHAR"/>
        <result property="reassignReason" column="REASSIGN_REASON" jdbcType="VARCHAR"/>
        <result property="apvStatus" column="APV_STATUS" jdbcType="INTEGER"/>
        <result property="firstApvrecordId" column="FIRST_APVRECORD_ID" jdbcType="VARCHAR"/>

    </resultMap>

    <!--查询单个-->
    <select id="selectByPkId" resultMap="TStaffReassignMap">
        select * from hjy_cloud.T_STAFF_REASSIGN
        where PK_REASSIGN_ID = #{pkReassignId}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectAllPage" resultMap="TStaffReassignMap">
        SELECT
        *
        FROM
        (
        SELECT
        table2.*,
        T_STAFF_INFO.STAFF_NAME AS reassignLeaderName
        FROM
        (
        SELECT
        table1.*,
        T_OUTFIT_DEPT.DEPT_NAME AS reassignDeptName,
        T_DICTIONARY_POSITION.POSITION_NAME AS reassignPositionName,
        T_OUTFIT_WORKADDRESS.WORKADRESS_NAME AS reassignWorkAddressName,
        T_OUTFIT_COMPANY.COMPANY_NAME AS reassignCompanyName,
        T_STAFF_INFO.STAFF_NAME AS oldLeaderName
        FROM
        (
        SELECT
        T_STAFF_REASSIGN.PK_REASSIGN_ID,
        T_STAFF_REASSIGN.FK_STAFF_ID,
        T_STAFF_INFO.STAFF_NAME AS staffName,
        T_STAFF_REASSIGN.START_TIME,
        T_STAFF_REASSIGN.END_TIME,
        T_STAFF_REASSIGN.REASSIGN_TIME,
        T_STAFF_REASSIGN.REASSIGN_TYPE,
        T_STAFF_REASSIGN.OLD_DEPT_ID,
        T_OUTFIT_DEPT.DEPT_NAME AS oldDeptName,
        T_STAFF_REASSIGN.REASSIGN_DEPT_ID,
        T_STAFF_REASSIGN.OLD_POSITION,
        T_DICTIONARY_POSITION.POSITION_NAME AS oldPositionName,
        T_STAFF_REASSIGN.REASSIGN_POSITION,
        T_STAFF_REASSIGN.OLD_ADDRESS,
        T_OUTFIT_WORKADDRESS.WORKADRESS_NAME AS oldWorkAddressName,
        T_STAFF_REASSIGN.REASSIGN_ADDRESS,
        T_STAFF_REASSIGN.OLD_COMPANY,
        T_OUTFIT_COMPANY.COMPANY_NAME AS oldCompanyName,
        T_STAFF_REASSIGN.REASSIGN_COMPANY,
        T_STAFF_REASSIGN.REASSIGN_LEADER,
        T_STAFF_REASSIGN.OLD_LEADER,
        T_STAFF_REASSIGN.REASSIGN_REASON,
        T_STAFF_REASSIGN.APV_STATUS,
        T_STAFF_REASSIGN.FIRST_APVRECORD_ID
        FROM
        T_STAFF_REASSIGN
        LEFT JOIN T_STAFF_INFO ON T_STAFF_REASSIGN.FK_STAFF_ID = T_STAFF_INFO.PK_STAFF_ID
        LEFT JOIN T_OUTFIT_DEPT ON T_STAFF_REASSIGN.OLD_DEPT_ID = T_OUTFIT_DEPT.PK_DEPT_ID
        LEFT JOIN T_DICTIONARY_POSITION ON T_STAFF_REASSIGN.OLD_POSITION = T_DICTIONARY_POSITION.PK_POSITION_ID
        LEFT JOIN T_OUTFIT_WORKADDRESS ON T_STAFF_REASSIGN.OLD_ADDRESS = T_OUTFIT_WORKADDRESS.PK_WORKADRESS_ID
        LEFT JOIN T_OUTFIT_COMPANY ON T_STAFF_REASSIGN.OLD_COMPANY = T_OUTFIT_COMPANY.PK_COMPANY_ID
        ) table1
        LEFT JOIN T_OUTFIT_DEPT ON table1.REASSIGN_DEPT_ID = T_OUTFIT_DEPT.PK_DEPT_ID
        LEFT JOIN T_DICTIONARY_POSITION ON table1.REASSIGN_POSITION = T_DICTIONARY_POSITION.PK_POSITION_ID
        LEFT JOIN T_OUTFIT_WORKADDRESS ON table1.REASSIGN_ADDRESS = T_OUTFIT_WORKADDRESS.PK_WORKADRESS_ID
        LEFT JOIN T_OUTFIT_COMPANY ON table1.REASSIGN_COMPANY = T_OUTFIT_COMPANY.PK_COMPANY_ID
        LEFT JOIN T_STAFF_INFO ON table1.OLD_LEADER = T_STAFF_INFO.PK_STAFF_ID
        ) table2
        LEFT JOIN T_STAFF_INFO ON table2.REASSIGN_LEADER = T_STAFF_INFO.PK_STAFF_ID
        ) table3
        WHERE
        1 = 1
        <if test="staffName != null and staffName != ''">
            and table3.staffName like '%${staffName}%'
        </if>
        <if test="reassignType != null and reassignType != ''">
            and table3.REASSIGN_TYPE = #{reassignType,jdbcType=VARCHAR}
        </if>
        <if test="oldDeptName != null and oldDeptName != ''">
            and table3.oldDeptName = #{oldDeptName,jdbcType=VARCHAR}
        </if>
        <if test="oldPositionName != null and oldPositionName != ''">
            and table3.oldPositionName = #{oldPositionName,jdbcType=VARCHAR}
        </if>
        <if test="pkReassignId != null and pkReassignId != ''">
            and table3.PK_REASSIGN_ID = #{pkReassignId,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectStaffOldInfoByStaffId" resultType="com.hjy.cloud.t_staff.entity.TStaffReassign">
SELECT
	table1.*,
	T_OUTFIT_COMPANY.COMPANY_NAME AS oldCompanyName
FROM
	(
	SELECT
		T_STAFF_INFO.PK_STAFF_ID AS fkStaffId,
		T_STAFF_INFO.STAFF_NAME AS staffName,
		T_STAFF_INFO.FK_DEPT_ID AS oldDeptId,
		T_STAFF_INFO.FK_POSITION_ID AS oldPosition,
		T_STAFF_INFO.FK_WORKADDRESS_ID AS oldAddress,
		T_OUTFIT_DEPT.SUPERIOR_DEPT AS oldCompany,
		T_OUTFIT_DEPT.DEPT_NAME AS oldDeptName,
		T_DICTIONARY_POSITION.POSITION_NAME AS oldPositionName,
		T_OUTFIT_WORKADDRESS.WORKADRESS_NAME AS oldWorkAddressName
	FROM
		T_STAFF_INFO
		LEFT JOIN T_OUTFIT_DEPT ON T_OUTFIT_DEPT.PK_DEPT_ID = T_STAFF_INFO.FK_DEPT_ID
		LEFT JOIN T_DICTIONARY_POSITION ON T_DICTIONARY_POSITION.PK_POSITION_ID = T_STAFF_INFO.FK_POSITION_ID
		LEFT JOIN T_OUTFIT_WORKADDRESS ON T_OUTFIT_WORKADDRESS.PK_WORKADRESS_ID = T_STAFF_INFO.FK_WORKADDRESS_ID
		where T_STAFF_INFO.PK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR}
	) table1
	LEFT JOIN T_OUTFIT_COMPANY ON T_OUTFIT_COMPANY.PK_COMPANY_ID = table1.oldCompany
    </select>
    <select id="selectStaff" resultType="java.lang.String">
        select FK_STAFF_ID from T_STAFF_REASSIGN where PK_REASSIGN_ID = #{pkReassignId,jdbcType=VARCHAR}
    </select>
    <!--新增-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_staff.entity.TStaffReassign">
        insert into hjy_cloud.T_STAFF_REASSIGN
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkReassignId != null and pkReassignId != ''">
                PK_REASSIGN_ID,
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                FK_STAFF_ID,
            </if>
            <if test="startTime != null">
                START_TIME,
            </if>
            <if test="endTime != null">
                END_TIME,
            </if>
            <if test="reassignTime != null">
                REASSIGN_TIME,
            </if>
            <if test="reassignType != null and reassignType != ''">
                REASSIGN_TYPE,
            </if>
            <if test="oldDeptId != null and oldDeptId != ''">
                OLD_DEPT_ID,
            </if>
            <if test="reassignDeptId != null and reassignDeptId != ''">
                REASSIGN_DEPT_ID,
            </if>
            <if test="oldPosition != null and oldPosition != ''">
                OLD_POSITION,
            </if>
            <if test="reassignPosition != null and reassignPosition != ''">
                REASSIGN_POSITION,
            </if>
            <if test="oldAddress != null and oldAddress != ''">
                OLD_ADDRESS,
            </if>
            <if test="reassignAddress != null and reassignAddress != ''">
                REASSIGN_ADDRESS,
            </if>
            <if test="oldCompany != null and oldCompany != ''">
                OLD_COMPANY,
            </if>
            <if test="reassignCompany != null and reassignCompany != ''">
                REASSIGN_COMPANY,
            </if>
            <if test="oldLeader != null and oldLeader != ''">
                OLD_LEADER,
            </if>
            <if test="reassignLeader != null and reassignLeader != ''">
                REASSIGN_LEADER,
            </if>
            <if test="reassignReason != null and reassignReason != ''">
                REASSIGN_REASON,
            </if>
            <if test="apvStatus != null">
                APV_STATUS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkReassignId != null and pkReassignId != ''">
                #{pkReassignId,jdbcType=VARCHAR},
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                #{fkStaffId,jdbcType=VARCHAR},
            </if>
            <if test="apvRecordId != null and apvRecordId != ''">
                #{apvRecordId,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reassignTime != null">
                #{reassignTime,jdbcType=DATE},
            </if>
            <if test="reassignType != null and reassignType != ''">
                #{reassignType,jdbcType=VARCHAR},
            </if>
            <if test="oldDeptId != null and oldDeptId != ''">
                #{oldDeptId,jdbcType=VARCHAR},
            </if>
            <if test="reassignDeptId != null and reassignDeptId != ''">
                #{reassignDeptId,jdbcType=VARCHAR},
            </if>
            <if test="oldPosition != null and oldPosition != ''">
                #{oldPosition,jdbcType=VARCHAR},
            </if>
            <if test="reassignPosition != null and reassignPosition != ''">
                #{reassignPosition,jdbcType=VARCHAR},
            </if>
            <if test="oldAddress != null and oldAddress != ''">
                #{oldAddress,jdbcType=VARCHAR},
            </if>
            <if test="reassignAddress != null and reassignAddress != ''">
                #{reassignAddress,jdbcType=VARCHAR},
            </if>
            <if test="oldCompany != null and oldCompany != ''">
                #{oldCompany,jdbcType=VARCHAR},
            </if>
            <if test="reassignCompany != null and reassignCompany != ''">
                #{reassignCompany,jdbcType=VARCHAR},
            </if>
            <if test="oldLeader != null and oldLeader != ''">
                #{oldLeader,jdbcType=VARCHAR},
            </if>
            <if test="reassignLeader != null and reassignLeader != ''">
                #{reassignLeader,jdbcType=VARCHAR},
            </if>
            <if test="reassignReason != null and reassignReason != ''">
                #{reassignReason,jdbcType=VARCHAR},
            </if>
            <if test="apvStatus != null">
                #{apvStatus,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <!--通过主键修改数据-->
    <update id="updateByPkId">
        update hjy_cloud.T_STAFF_REASSIGN
        <set>
            <if test="fkStaffId != null and fkStaffId != ''">
                FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                START_TIME = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                END_TIME = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reassignTime != null">
                REASSIGN_TIME = #{reassignTime,jdbcType=DATE},
            </if>
            <if test="reassignType != null and reassignType != ''">
                REASSIGN_TYPE = #{reassignType,jdbcType=VARCHAR},
            </if>
            <if test="oldDeptId != null and oldDeptId != ''">
                OLD_DEPT_ID = #{oldDeptId,jdbcType=VARCHAR},
            </if>
            <if test="reassignDeptId != null and reassignDeptId != ''">
                REASSIGN_DEPT_ID = #{reassignDeptId,jdbcType=VARCHAR},
            </if>
            <if test="oldPosition != null and oldPosition != ''">
                OLD_POSITION = #{oldPosition,jdbcType=VARCHAR},
            </if>
            <if test="reassignPosition != null and reassignPosition != ''">
                REASSIGN_POSITION = #{reassignPosition,jdbcType=VARCHAR},
            </if>
            <if test="oldAddress != null and oldAddress != ''">
                OLD_ADDRESS = #{oldAddress,jdbcType=VARCHAR},
            </if>
            <if test="reassignAddress != null and reassignAddress != ''">
                REASSIGN_ADDRESS = #{reassignAddress,jdbcType=VARCHAR},
            </if>
            <if test="oldCompany != null and oldCompany != ''">
                OLD_COMPANY = #{oldCompany,jdbcType=VARCHAR},
            </if>
            <if test="reassignCompany != null and reassignCompany != ''">
                REASSIGN_COMPANY = #{reassignCompany,jdbcType=VARCHAR},
            </if>
            <if test="oldLeader != null and oldLeader != ''">
                OLD_LEADER = #{oldLeader,jdbcType=VARCHAR},
            </if>
            <if test="reassignLeader != null and reassignLeader != ''">
                REASSIGN_LEADER = #{reassignLeader,jdbcType=VARCHAR},
            </if>
            <if test="reassignReason != null and reassignReason != ''">
                REASSIGN_REASON = #{reassignReason,jdbcType=VARCHAR},
            </if>
            <if test="apvStatus != null">
                APV_STATUS = #{apvStatus,jdbcType=INTEGER},
            </if>
            <if test="firstApvrecordId != null and firstApvrecordId != ''">
                FIRST_APVRECORD_ID = #{firstApvrecordId,jdbcType=VARCHAR},
            </if>
        </set>
        where PK_REASSIGN_ID = #{pkReassignId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hjy_cloud.T_STAFF_REASSIGN where PK_REASSIGN_ID = #{pkReassignId,jdbcType=VARCHAR}
    </delete>

</mapper>

