<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_staff.dao.TStaffZzMapper">

    <resultMap type="com.hjy.cloud.t_staff.entity.TStaffZz" id="TStaffZzMap">
        <result property="pkZzId" column="PK_ZZ_ID" jdbcType="VARCHAR"/>
        <result property="fkStaffId" column="FK_STAFF_ID" jdbcType="VARCHAR"/>
        <result property="fkWordaddressId" column="FK_WORDADDRESS_ID" jdbcType="VARCHAR"/>
        <result property="entryTime" column="ENTRY_TIME" jdbcType="DATE"/>
        <result property="syqdqTime" column="SYQDQ_TIME" jdbcType="DATE"/>
        <result property="zzTime" column="ZZ_TIME" jdbcType="DATE"/>
        <result property="sjzzTime" column="SJZZ_TIME" jdbcType="DATE"/>
        <result property="status" column="STATUS" jdbcType="INTEGER"/>
        <result property="apvStatus" column="APV_STATUS" jdbcType="INTEGER"/>
        <result property="firstApvrecordId" column="FIRST_APVRECORD_ID" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectByPkId" resultMap="TStaffZzMap">
        select * from hjy_cloud.T_STAFF_ZZ
        where PK_ZZ_ID = #{pkZzId}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectAllPage" resultMap="TStaffZzMap">
        SELECT
        T_STAFF_ZZ.PK_ZZ_ID,
        T_STAFF_ZZ.FK_STAFF_ID,
        T_STAFF_INFO.STAFF_NAME,
        T_OUTFIT_WORKADDRESS.WORKADRESS_NAME as wordAddressName,
        T_OUTFIT_DEPT.DEPT_NAME as deptName,
        T_DICTIONARY_POSITION.POSITION_NAME as positionName,
        T_STAFF_ZZ.ENTRY_TIME,
        T_STAFF_ZZ.SYQDQ_TIME,
        T_STAFF_ZZ.ZZ_TIME,
        T_STAFF_ZZ.STATUS,
        T_STAFF_ZZ.SJZZ_TIME,
        T_STAFF_ZZ.APV_STATUS,
        T_STAFF_ZZ.FIRST_APVRECORD_ID
        FROM
        T_STAFF_ZZ
        LEFT JOIN T_STAFF_INFO ON T_STAFF_ZZ.FK_STAFF_ID = T_STAFF_INFO.PK_STAFF_ID
        LEFT JOIN T_OUTFIT_WORKADDRESS ON T_STAFF_ZZ.FK_WORDADDRESS_ID = T_OUTFIT_WORKADDRESS.PK_WORKADRESS_ID
        LEFT JOIN T_OUTFIT_DEPT ON T_STAFF_INFO.FK_DEPT_ID = T_OUTFIT_DEPT.PK_DEPT_ID
        LEFT JOIN T_DICTIONARY_POSITION ON T_STAFF_INFO.FK_POSITION_ID = T_DICTIONARY_POSITION.PK_POSITION_ID
        <where>
            <if test="pkZzId != null and pkZzId != ''">
                and PK_ZZ_ID = #{pkZzId,jdbcType=VARCHAR}
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                and FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR}
            </if>
            <if test="fkWordaddressId != null and fkWordaddressId != ''">
                and FK_WORDADDRESS_ID = #{fkWordaddressId,jdbcType=VARCHAR}
            </if>
            <if test="entryTime != null">
                and ENTRY_TIME = #{entryTime,jdbcType=DATE}
            </if>
            <if test="syqdqTime != null">
                and SYQDQ_TIME = #{syqdqTime,jdbcType=DATE}
            </if>
            <if test="zzTime != null">
                and ZZ_TIME = #{zzTime,jdbcType=DATE}
            </if>
            <if test="sjzzTime != null">
                and SJZZ_TIME = #{sjzzTime,jdbcType=DATE}
            </if>
            <if test="status != null">
                and STATUS = #{status,jdbcType=INTEGER}
            </if>
            <if test="apvStatus != null">
                and APV_STATUS = #{apvStatus,jdbcType=INTEGER}
            </if>
            <if test="firstApvrecordId != null and firstApvrecordId != ''">
                and FIRST_APVRECORD_ID = #{firstApvrecordId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <!--新增-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_staff.entity.TStaffZz">
        insert into hjy_cloud.T_STAFF_ZZ
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkZzId != null and pkZzId != ''">
                PK_ZZ_ID,
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                FK_STAFF_ID,
            </if>
            <if test="fkWordaddressId != null and fkWordaddressId != ''">
                FK_WORDADDRESS_ID,
            </if>
            <if test="entryTime != null">
                ENTRY_TIME,
            </if>
            <if test="syqdqTime != null">
                SYQDQ_TIME,
            </if>
            <if test="zzTime != null">
                ZZ_TIME,
            </if>
            <if test="sjzzTime != null">
                SJZZ_TIME,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="apvStatus != null">
                APV_STATUS,
            </if>
            <if test="firstApvrecordId != null and firstApvrecordId != ''">
                FIRST_APVRECORD_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkZzId != null and pkZzId != ''">
                #{pkZzId,jdbcType=VARCHAR},
            </if>
            <if test="fkStaffId != null and fkStaffId != ''">
                #{fkStaffId,jdbcType=VARCHAR},
            </if>
            <if test="fkWordaddressId != null and fkWordaddressId != ''">
                #{fkWordaddressId,jdbcType=VARCHAR},
            </if>
            <if test="entryTime != null">
                #{entryTime},
            </if>
            <if test="syqdqTime != null">
                #{syqdqTime},
            </if>
            <if test="zzTime != null">
                #{zzTime},
            </if>
            <if test="sjzzTime != null">
                #{sjzzTime},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="apvStatus != null">
                #{apvStatus,jdbcType=INTEGER},
            </if>
            <if test="firstApvrecordId != null and firstApvrecordId != ''">
                #{firstApvrecordId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!--通过主键修改数据-->
    <update id="updateByPkId">
        update hjy_cloud.T_STAFF_ZZ
        <set>
            <if test="fkStaffId != null and fkStaffId != ''">
                FK_STAFF_ID = #{fkStaffId,jdbcType=VARCHAR},
            </if>
            <if test="fkWordaddressId != null and fkWordaddressId != ''">
                FK_WORDADDRESS_ID = #{fkWordaddressId,jdbcType=VARCHAR},
            </if>
            <if test="entryTime != null">
                ENTRY_TIME = #{entryTime,jdbcType=DATE},
            </if>
            <if test="syqdqTime != null">
                SYQDQ_TIME = #{syqdqTime,jdbcType=DATE},
            </if>
            <if test="zzTime != null">
                ZZ_TIME = #{zzTime,jdbcType=DATE},
            </if>
            <if test="sjzzTime != null">
                SJZZ_TIME = #{sjzzTime,jdbcType=DATE},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=INTEGER},
            </if>
            <if test="apvStatus != null">
                APV_STATUS = #{apvStatus,jdbcType=INTEGER},
            </if>
            <if test="firstApvrecordId != null and firstApvrecordId != ''">
                FIRST_APVRECORD_ID = #{firstApvrecordId,jdbcType=VARCHAR},
            </if>
        </set>
        where PK_ZZ_ID = #{pkZzId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hjy_cloud.T_STAFF_ZZ where PK_ZZ_ID = #{pkZzId,jdbcType=VARCHAR}
    </delete>

</mapper>

