<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_system.dao.TSysPermsMapper">

    <sql id="BaseColumnList" >
        PK_PERMS_ID,
        P_ID,
        MENU_NAME,
        path,
        PERMS_CODE,
        MENU_TYPE,
        CREATE_TIME,
        MODIFY_TIME,
        MODIFY_USERNAME,
        fk_user_id,
  </sql>
    <!--No problem通过主键查询单个-->
    <select id="selectById" resultType="com.hjy.cloud.t_system.entity.TSysPerms" parameterType="com.hjy.cloud.t_system.entity.TSysPerms">
        select * from T_SYS_PERMS where PK_PERMS_ID = #{pkPermsId,jdbcType=VARCHAR}
    </select>
    <!--通过实体作为筛选条件查询-->
    <select id="selectAllByEntity" resultType="com.hjy.cloud.t_system.entity.TSysPerms" parameterType="com.hjy.cloud.t_system.entity.TSysPerms">
        select * from T_SYS_PERMS
        <where>
            <if test="pkPermsId != null and pkPermsId != ''">
                and PK_PERMS_ID = #{pkPermsId,jdbcType=VARCHAR}
            </if>
            <if test="pId != null and pId != ''">
                and P_ID = #{pId,jdbcType=VARCHAR}
            </if>
            <if test="menuName != null and menuName != ''">
                and MENU_NAME = #{menuName,jdbcType=VARCHAR}
            </if>
            <if test="path != null and path != ''">
                and PATH = #{path,jdbcType=VARCHAR}
            </if>
            <if test="permsCode != null and permsCode != ''">
                and PERMS_CODE = #{permsCode,jdbcType=VARCHAR}
            </if>
            <if test="menuType != null and menuType != ''">
                and MENU_TYPE = #{menuType,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and CREATE_TIME = #{createTime,jdbcType=DATE}
            </if>
            <if test="modifyTime != null">
                and MODIFY_TIME = #{modifyTime,jdbcType=DATE}
            </if>
            <if test="modifyUsername != null and modifyUsername != ''">
                and MODIFY_USERNAME = #{modifyUsername,jdbcType=VARCHAR}
            </if>
            <if test="fkUserId != null">
                and fk_user_id = #{fkUserId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_system.entity.TSysPerms">
        insert into T_SYS_PERMS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkPermsId != null and pkPermsId != ''">
                PK_PERMS_ID,
            </if>
            <if test="pId != null and pId != ''">
                P_ID,
            </if>
            <if test="menuName != null and menuName != ''">
                MENU_NAME,
            </if>
            <if test="path != null and path != ''">
                PATH,
            </if>
            <if test="permsCode != null and permsCode != ''">
                PERMS_CODE,
            </if>
            <if test="menuType != null and menuType != ''">
                MENU_TYPE,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME,
            </if>
            <if test="modifyUsername != null and modifyUsername != ''">
                MODIFY_USERNAME,
            </if>
            <if test="fkUserId != null and fkUserId != ''">
                fk_user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="pkPermsId != null and pkPermsId != ''">
                #{pkPermsId,jdbcType=VARCHAR},
            </if>
            <if test="pId != null">
                #{pId,jdbcType=VARCHAR},
            </if>
            <if test="menuName != null and menuName != ''">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="path != null and path != ''">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="permsCode != null and permsCode != ''">
                #{permsCode,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null and menuType != ''">
                #{menuType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATE},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=DATE},
            </if>
            <if test="modifyUsername != null and modifyUsername != ''">
                #{modifyUsername,jdbcType=VARCHAR},
            </if>
            <if test="fkUserId != null and fkUserId != ''">
                #{fkUserId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateById" parameterType="com.hjy.cloud.t_system.entity.TSysPerms">
        update t_sys_perms
        <set>
            <if test="pId != null and pId != ''">
                P_ID = #{pId,jdbcType=VARCHAR},
            </if>
            <if test="menuName != null and menuName != ''">
                MENU_NAME = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="path != null and path != ''">
                PATH = #{path,jdbcType=VARCHAR},
            </if>
            <if test="permsCode != null and permsCode != ''">
                PERMS_CODE = #{permsCode,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null and menuType != ''">
                MENU_TYPE = #{menuType,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=DATE},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=DATE},
            </if>
            <if test="modifyUsername != null and modifyUsername != ''">
                MODIFY_USERNAME = #{modifyUsername,jdbcType=VARCHAR},
            </if>
            <if test="fkUserId != null and fkUserId != ''">
                fk_user_id = #{fkUserId,jdbcType=VARCHAR},
            </if>
        </set>
        where PK_PERMS_ID = #{pkPermsId,jdbcType=VARCHAR}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="com.hjy.cloud.t_system.entity.TSysPerms">
        delete from T_SYS_PERMS where PK_PERMS_ID = #{pkPermsId,jdbcType=VARCHAR}
    </delete>
    <!--查询所有行数据-->
    <select id="selectAll" resultType="com.hjy.cloud.t_system.entity.TSysPerms">
        select * from T_SYS_PERMS
    </select>
    <select id="selectAllIdAndName" resultType="com.hjy.cloud.t_system.entity.TSysPerms">
        select PK_PERMS_ID,MENU_NAME from T_SYS_PERMS
    </select>
    <!--No problem 分页-模糊查询用户列表-->
    <select id="selectAllPage" resultType="com.hjy.cloud.t_system.entity.TSysPerms">
        select * from T_SYS_PERMS
        where 1=1
        <if test="menuName != null">
            and MENU_NAME like '%${menuName}%'
        </if>
        <if test="path != null">
            and path like '%${path}%'
        </if>
        <if test="permsCode != null">
            and PERMS_CODE like '%${permsCode}%'
        </if>
        <if test="menuType != null">
            and MENU_TYPE like '%${menuType}%'
        </if>
    </select>
    <select id="selectDistributeByrole_id" resultType="java.lang.String"
            parameterType="java.lang.String">
        select FK_PERMS_ID from RE_ROLE_PERMS where FK_ROLE_ID = #{fk_role_id,jdbcType=VARCHAR}
    </select>

</mapper>