<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_system.dao.TSysRoleMapper">

    <sql id="BaseColumnList">
        PK_ROLE_ID,
        ROLE_NAME,
        ROLE_DESC,
        CREATE_DATE,
        ENABLE_STATUS,
        MODIFY_TIME,
  </sql>
    <!--No problem 通过主键查询单个-->
    <select id="selectById" resultType="com.hjy.cloud.t_system.entity.TSysRole">
        select * from T_SYS_ROLE
        where PK_ROLE_ID = #{pkRoleId,jdbcType=VARCHAR}
    </select>
    <!--No problem 通过实体作为筛选条件查询-->
    <select id="selectAllByEntity" resultType="com.hjy.cloud.t_system.entity.TSysRole">
        select * from T_SYS_ROLE
        <where>
            <if test="pkRoleId != null and pkRoleId != ''">
                and PK_ROLE_ID = #{pkRoleId,jdbcType=VARCHAR}
            </if>
            <if test="roleName != null and roleName != ''">
                and ROLE_NAME like '%${roleName}%'
            </if>
            <if test="roleDesc != null and roleDesc != ''">
                and ROLE_DESC = #{roleDesc,jdbcType=VARCHAR}
            </if>
            <if test="enableStatus != null">
                and ENABLE_STATUS = #{enableStatus,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <!--No problem 新增数据-->
    <insert id="insertSelective" parameterType="com.hjy.cloud.t_system.entity.TSysRole">
        insert into T_SYS_ROLE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkRoleId != null and pkRoleId != ''">
                PK_ROLE_ID,
            </if>
            <if test="roleName != null and roleName != ''">
                ROLE_NAME,
            </if>
            <if test="roleDesc != null and roleDesc != ''">
                ROLE_DESC,
            </if>
            <if test="createDate != null">
                CREATE_DATE,
            </if>
            <if test="enableStatus != null">
                ENABLE_STATUS,
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkRoleId != null and pkRoleId != ''">
                #{pkRoleId,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null and roleName != ''">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleDesc != null and roleDesc != ''">
                #{roleDesc,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=DATE},
            </if>
            <if test="enableStatus != null">
                #{enableStatus,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <!--No problem 添加角色权限    -->
    <insert id="addRoleMenu" parameterType="java.lang.String">
        insert into RE_ROLE_PERMS(PK_ROLEPERMS_ID,FK_ROLE_ID,FK_PERMS_ID)
        values (#{pk_rolePerms_id},#{fk_role_id},#{fk_perms_id})
    </insert>
    <!--No problem 添加用户角色    -->
    <insert id="addUserRole" parameterType="java.lang.String">
        insert into RE_USER_ROLE(PK_USERROLE_ID,FK_USER_ID,FK_ROLE_ID)
        values (#{pk_userRole_id},#{fk_user_id},#{fk_role_id})
    </insert>
    <!--角色批量添加用户    -->
    <insert id="addUserRoleByList" parameterType="list">
        insert INTO
        RE_USER_ROLE(PK_USERROLE_ID,FK_USER_ID,FK_ROLE_ID)
        values
        <foreach collection="idList" item="item" separator=",">
            (
            #{item.pk_userRole_id, jdbcType=VARCHAR},
            #{item.fk_user_id, jdbcType=VARCHAR},
            #{item.fk_role_id, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <!--No problem 角色添加权限    -->
    <insert id="addRoleMenuByList">
        insert INTO
        re_role_perms(PK_ROLEPERMS_ID,FK_ROLE_ID,FK_PERMS_ID)
        values
        <foreach collection="idList" item="item" separator=",">
            (
            #{item.pk_rolePerms_id, jdbcType=VARCHAR},
            #{item.fk_role_id, jdbcType=VARCHAR},
            #{item.fk_perms_id, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <!--No problem 添加用户角色    -->
    <insert id="addUserRoleByUserRole" parameterType="com.hjy.cloud.t_system.entity.ReUserRole">
       insert into RE_USER_ROLE(PK_USERROLE_ID,FK_USER_ID,FK_ROLE_ID)
        values (#{pk_userRole_id},#{fk_user_id},#{fk_role_id})
    </insert>
    <!--No problem 添加角色权限    -->
    <insert id="insertRolePerms" parameterType="com.hjy.cloud.t_system.entity.ReRolePerms">
        insert into RE_ROLE_PERMS(PK_ROLEPERMS_ID,FK_ROLE_ID,FK_PERMS_ID)
        values (#{pk_rolePerms_id},#{fk_role_id},#{fk_perms_id})
    </insert>
    <!--No problem通过主键修改数据-->
    <update id="updateById">
        update T_SYS_ROLE
        <set>
            <if test="roleName != null and roleName != ''">
                ROLE_NAME = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="roleDesc != null and roleDesc != ''">
                ROLE_DESC = #{roleDesc,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=DATE},
            </if>
            <if test="enableStatus != null">
                ENABLE_STATUS = #{enableStatus,jdbcType=INTEGER},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME = #{modifyTime,jdbcType=DATE},
            </if>
        </set>
        where PK_ROLE_ID = #{pkRoleId,jdbcType=VARCHAR}
    </update>
    <!--No problem通过主键删除-->
    <delete id="deleteById">
        delete from T_SYS_ROLE where PK_ROLE_ID = #{pkRoleId,jdbcType=VARCHAR}
    </delete>
    <!--No problem    通过roleId删除原有的所有菜单-->
    <delete id="deleteRolePermsByRoleId" parameterType="java.lang.String">
        delete from RE_ROLE_PERMS where FK_ROLE_ID =#{fkRoleId,jdbcType=VARCHAR}
    </delete>
    <!--No Problem    通过roleId删除用户角色-->
    <delete id="deleteUserRoleByRoleId" parameterType="java.lang.String">
        delete from RE_USER_ROLE where FK_ROLE_ID =#{fkRoleId,jdbcType=VARCHAR}
    </delete>
    <!--No Problem查询所有行数据 -->
    <select id="selectAll" resultType="com.hjy.cloud.t_system.entity.TSysRole">
        select * from T_SYS_ROLE
    </select>
    <!--No Problem-->
    <select id="selectUserRoleByrole_id" resultType="java.lang.String" parameterType="java.lang.String">
        select FK_USER_ID from RE_USER_ROLE where FK_ROLE_ID = #{fkRoleId,jdbcType=VARCHAR}
    </select>
    <!--No Problem-->
    <select id="selectRoleIdByUserId" resultType="string">
        select FK_ROLE_ID
        from RE_USER_ROLE
        where FK_USER_ID = #{fkUserId,jdbcType=VARCHAR}
    </select>
    <!--No Problem-->
    <select id="selectRoleByUserId" resultType="com.hjy.cloud.t_system.entity.TSysRole">
    SELECT
	t_sys_role.PK_ROLE_ID as pkRoleId,
	t_sys_role.ROLE_NAME as roleName,
	t_sys_role.ROLE_DESC as roleDesc,
	t_sys_role.CREATE_DATE as createDate,
	t_sys_role.ENABLE_STATUS as enableStatus,
	t_sys_role.MODIFY_TIME as modifyTime
    FROM
	RE_USER_ROLE
	INNER JOIN
	T_SYS_USER
	ON
		RE_USER_ROLE.FK_USER_ID = T_SYS_USER.PK_USER_ID
	INNER JOIN
	T_SYS_ROLE
	ON
		RE_USER_ROLE.FK_ROLE_ID = T_SYS_ROLE.PK_ROLE_ID
    where PK_USER_ID = #{pkUserId,jdbcType=VARCHAR}
    </select>
    <!--No Problem-->
    <select id="selectPermsCodeByRole" resultType="string" parameterType="java.lang.String">
    SELECT
        T_SYS_PERMS.PERMS_CODE
    FROM
        RE_ROLE_PERMS
	INNER JOIN
	    T_SYS_PERMS
	ON
		RE_ROLE_PERMS.FK_PERMS_ID = T_SYS_PERMS.PK_PERMS_ID
		where RE_ROLE_PERMS.FK_ROLE_ID =#{fkRoleId}
    </select>
    <!--No Problem-->
    <select id="selectPermsByRole" resultType="com.hjy.cloud.t_system.entity.TSysPerms">
    SELECT
        T_SYS_PERMS.*
    FROM
        RE_ROLE_PERMS
	INNER JOIN
	    T_SYS_PERMS
	ON
		RE_ROLE_PERMS.FK_PERMS_ID = T_SYS_PERMS.PK_PERMS_ID
		where RE_ROLE_PERMS.FK_ROLE_ID =#{fkRoleId}
    </select>
    <!--No Problem-->
    <select id="selectUserRole_userIded" resultType="java.lang.String">
        select FK_USER_ID from RE_USER_ROLE where FK_ROLE_ID in (select distinct FK_ROLE_ID from  RE_USER_ROLE)
    </select>
    <select id="selectAllUsername" resultType="java.lang.String">
        select USERNAME from T_SYS_USER
    </select>
</mapper>