<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.cloud.t_system.dao.TSysParamMapper">

    <sql id="BaseColumnList" >
        PK_PARAM_ID,
        PARAM_KEY,
        PARAM_VALUE,
        OPERATOR_PEOPLE,
        OPERATOR_TIME,
  </sql>

    <!--通过主键修改数据-->
    <update id="updateById" parameterType="com.hjy.cloud.t_system.entity.TSysParam">
        update T_SYS_PARAM
        <set>
            <if test="paramKey != null and paramKey != ''">
                PARAM_KEY = #{paramKey,jdbcType=VARCHAR},
            </if>
            <if test="paramValue != null and paramValue != ''">
                PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
            </if>
            <if test="operatorPeople != null and operatorPeople != ''">
                OPERATOR_PEOPLE = #{operatorPeople,jdbcType=VARCHAR},
            </if>
            <if test="operatorTime != null">
                OPERATOR_TIME = #{operatorTime,jdbcType=DATE},
            </if>
        </set>
        where PK_PARAM_ID = #{pkParamId,jdbcType=VARCHAR}
    </update>

    <!--No problem 查询所有行数据-->
    <select id="selectAll" resultType="com.hjy.cloud.t_system.entity.TSysParam">
        select * from T_SYS_PARAM
    </select>
    <!--No problem 通过关键字查询单条数据-->
    <select id="selectById" resultType="com.hjy.cloud.t_system.entity.TSysParam">
        select * from T_SYS_PARAM
        where  PK_PARAM_ID = '${pkParamId}'
    </select>
    <!--No problem 通过关键字查询单条参数值-->
    <select id="selectParamById" resultType="java.lang.String">
        select PARAM_VALUE from T_SYS_PARAM
        where  PK_PARAM_ID = #{pkParamId,jdbcType=VARCHAR}
    </select>

</mapper>